/* 
* ==========================================================
*     Fonts declration
* ==========================================================
*/
@font-face {
    font-family: "CeraGR";
    src: url("../fonts/CeraGR.otf");
    font-weight: 100;
}
@font-face {
    font-family: "CeraGR";
    src: url("../fonts/CeraGR-Thin.otf");
  font-weight: 200;
}
@font-face {
    font-family: "CeraGR";
    src: url("../fonts/CeraGR-Light.otf");
  font-weight: 300;
}
@font-face {
    font-family: "CeraGR";
    src: url("../fonts/CeraGR.otf");
    font-style: normal;
  font-weight: 400;
}
@font-face {
    font-family: "GE_Flow_Regular";
    src: url("../fonts/GE_Flow_Regular.otf");
    font-weight: 400;
}
@font-face {
    font-family: "CeraGR";
    src: url("../fonts/CeraGR-Medium.otf");
    font-weight: 500;
}

@font-face {
    font-family: "CeraGR";
    src: url("../fonts/CeraGR-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: "CeraGR";
    src: url("../fonts/CeraGR-Black.otf");
    font-weight: 900;
}