<div class="stp-hero-lines" aria-hidden="true">
  <div class="stp-hero-lines__slant stp-hero-lines__slant--left">
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-45"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-45"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-45"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-45"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-45"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-neg"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-neg"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-neg"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-neg"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-neg"></div>
  </div>
  <div class="stp-hero-lines__slant stp-hero-lines__slant--right">
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-45"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-45"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-45"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-45"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-45"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-neg"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-neg"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-neg"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-neg"></div>
    <div class="stp-hero-line stp-hero-line--slant stp-hero-line--slant-neg"></div>
  </div>
  <div class="stp-hero-line"></div>
  <div class="stp-hero-line"></div>
  <div class="stp-hero-line"></div>
  <div class="stp-hero-line"></div>
  <div class="stp-hero-line"></div>
  <div class="stp-hero-line"></div>
  <div class="stp-hero-line"></div>
  <div class="stp-hero-line"></div>
  <div class="stp-hero-line"></div>
  <div class="stp-hero-line"></div>
</div>
