
/*--------------------------------------------------------------
# AI Doodle CSS 1.0 
# ai-main.css
#
# structure
# |-- ai-main.css
# |----| mode [lite/dark]
# |----| type [float/pinned]
# |----| lang [eng/ar]
#
#
# 
--------------------------------------------------------------*/

:root {
    /* == premetives colors ==*/

    --ai-blue-500:#4361EE;
    --ai-blue-400:#61BFF4;
    --ai-blue-300:#9DD5F4; 
   
    --ai-dark-500:#444;
    --ai-dark-400:#666;
    --ai-time-stamp:#888;
    --ai-placeholder:var(--ai-placeholder);
    
    --ai-white-200:#E8EBF0;
    --ai-white-150:#F3F5F6;
    --ai-white-100:#ffffff;
    --ai-white-125:#DEE2E6;
    
    /*subtle indicators*/
    --ai-subtle-danger:#FFE4E0;
    --ai-subtle-success:#E0FFE5;
    --ai-subtle-warning:#FFFCE0;
    
    /*normal indicators*/
    --ai-danger:#EE4343;
    --ai-success:#43EE7D;
    --ai-warning:#EBEE43;
    
    /* == semantic colors on lite theme ==*/
    
    --ai-primary:var(--ai-blue-500);
    --ai-primary2:var(--ai-blue-300);
    --ai-primary3:var(--ai-blue-400);
  
    --ai-surface:var(--ai-white-100);
    --ai-surface2:var(--ai-white-150);
    --ai-surface3:var(--ai-white-200);
    --ai-surface4:var(--ai-white-125);
    
    --ai-negative:var(--ai-white-100);
   
    --ai-text:var( --ai-dark-500);
   
}

/* dark text - prevents override from parent template*/
.chat-footer .ai-tags > div:hover,
.chat-messages .user-message, 
.chat-messages P, .chat-messages h1, 
.chat-messages h2, 
.chat-messages h3, 
.chat-messages h4, 
.chat-messages h5, 
.chat-messages  h6{
    color: var( --ai-dark-500);
}

