



/*--------------------------------------------------
    ## Globals
---------------------------------------------------*/

body{
    color: #1E1F24;
    background: #FAF6F6;
font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    font-size: 16px;
}


a{  transition: 0.5s ease-in;}
a:hover{ color: #2280EF;}

:root { 
  --green: #44CC58;
  --green900: #1F3825;
  --green100: #A4DAC2;
  --sky: #B4E9FF;
  --red: #EE6055;
  --yellow: #F0DA6A;
  --pink: #E7C2D4;

  --heading-font:  "Kalnia", serif;
    --body-font:"Red Hat Display", sans-serif;
    --shadow: 5px 5px 0 0 #00000030;

}

/*{background: url("../img/bg/hero2.webp") no-repeat center center;}*/
.bg-green{background: var( --green)}
.bg-green900{background: var( --green900)}
/*.bg-green900{background: url("../img/1.svg") left center no-repeat #1F3825;}*/
.bg-green100{background: var( --green100)}
.bg-sky{background: var( --sky)}
.bg-red{background: var( --red)}
.bg-yellow{background: var( --yellow)}
.bg-pink{background: var( --pink)}


.pattern{background-image: url("../img/pattern-white.svg"); }

.txt-white{ color: #ffffff}


.cc1{/* center center */         display: flex; justify-content: center; align-items: center; position: relative; }
.cc2{/* center center */         display: flex; flex-direction: column; justify-content: center; align-items: flex-start; position: relative; }


.h-100vh{height: 100vh}
.h-auto{height: auto!important}

.pl-6em{padding-left: 6rem;}
.pl-4em{padding-left: 4rem;}
.pl-2em{padding-left: 2rem;}

.pr-6em{padding-right: 6rem;}
.pr-4em{padding-right: 4rem;}
.pr-2em{padding-right: 2rem;}

.p-4em{padding: 4rem;}
.p-2em{padding: 2rem;}

.pd-top-100px{padding-top: 100px;}
.pd-bottom-100px{padding-bottom: 100px;}
.pd-bottom-40px{padding-bottom: 40px;}

.d-flex2{justify-content: space-between; display: flex;}

/*--------------------------------------------------
    ## Txt
---------------------------------------------------*/


.display-1 {
    font-size: 128px;
    font-size:8rem;
    font-weight: 600;
  line-height: 1.2333333333;
    letter-spacing: -3px;
    padding-top: 6rem;
    padding-bottom: 5rem;
   
}
h1 {
    font-size: 100px;
    font-size: 6.25rem;
    font-weight: 500;
  line-height: 1.2333333333;
    letter-spacing: -3px;
   
}


h2 {
    font-size: 72px;
    font-size: 4.5rem;
  line-height: 1.2380952381;
    
}

h3 {
  font-size:64px;
    font-size: 4rem;
  line-height: 1.3833333333;
}

h4 {
  font-size: 48px;
    font-size: 3rem;
  line-height: 1.3380952381;
    letter-spacing: -1px;
}

h5 {
  font-size: 32px;
    font-size: 2rem;
/*    font-weight: 500!important;*/
  line-height: 1.3380952381;
}

h6 {
  font-size: 20px;
  line-height: 1.2380952381;
}

.display-1,
h1,
h2,
h3,
h4,
h5,
h6 {
/*  color: var(--heading-color);*/
  font-weight: 600;
  font-family: var(--heading-font);
/*    letter-spacing: -2px;*/
}

ul > li,
p{font-size: 1.5rem;}
p.lead{font-size: 2rem;}

.fw-n{ font-weight:normal}
.fw-b{ font-weight:bold}
.fw-m{ font-weight:500}

.h100vh{ height: 100vh}

@media (max-width: 767.98px) {
h1{ font-size: 45px!important}
h2{ font-size: 35px!important}
h3{ font-size: 30px!important}
h4{ font-size: 25px!important}
h5{ font-size: 22px!important}
h6{ font-size: 20px!important}
    
    h1, h2, h3, h4, h5, h6{ letter-spacing: 0px;}
    .display-1{font-size:  4rem; letter-spacing: 0px}
    
    body{text-align: center;}
    .pd-bottom-100px{padding-bottom: 60px;}
    .h-100vh{height: auto!important;}
    .h100vh{ height: auto!important;}
}

/*--------------------------------------------------
    ## navbar
---------------------------------------------------*/
.navbar {
            transition: all 0.3s ease;
        }
.scrolled {
           
        }
/*.navbar.scrolled{ padding: 0px;}*/

.navbar.scrolled .navbar-brand{ background:#fff;  box-shadow: var(--shadow)}
.navbar.scrolled .menu--right{ }

.navbar-brand{padding: 16px;}
.menu--right{  padding: 16px;}

/*--------------------------------------------------
    ## Sections
---------------------------------------------------*/


section{
/*    height: 100vh;*/
    border: 0px solid red;
    position: relative;
}


#fold1 .m1{background: url("../img/bg-ai-working.webp") center 40px  var( --sky)  ; background-repeat: no-repeat;}

#fold1 .bg-yellow:hover,
#fold1 .bg-orange:hover,
#fold1 .bg-pink:hover{ box-shadow:  var(--shadow)}

#fold2 .lhs{translate: -100%; }
#fold2 .rhs{translate: 50%; }

/* fold 3 price*/
#fold3 .lhs{}
#fold3 .rhs{}

.thread{ display: flex; column-gap: 12px; align-items: center; background: url("../img/threads.webp") left top; background-repeat: no-repeat;
    padding: 4rem 2rem 4rem 0rem;
}

@media (max-width: 767.98px) {
    #hero{}
    #hero .cc2{padding: 100px 20px; align-items: center; gap: 24px; }
    #hero .cc1{padding: 100px 20px}
    #fold1.h-100vh{ height: auto!important;}
    #fold1 .m1{padding: 60px 40px 100px 40px}
    #fold1 .bg-pink{padding: 60px 40px 100px 40px}
    #fold1 .bg-yellow{padding: 60px 40px 100px 40px}
    #fold1 .bg-green100{padding: 60px 40px 100px 40px}
    #fold1 .w-50{width: 100%!important}
    
    
    
#fold2 .lhs{translate:0; padding-bottom: 60px; }
#fold2 .rhs{translate:0; padding-bottom: 60px; }
    
    .fold-action .d-block {margin-bottom: 40px; margin-top: 40px; padding: 40px}
    
}


.pricing-blue{ background: url("../img/bg-blue2.webp")  left top no-repeat; }
.pricing-yellow{ background: url("../img/bg-yellow.webp")  left top no-repeat; }

.pricing{background-size:contain; display: flex; padding: 60px 40px 40px 50px; margin-right: 40px; margin-bottom: 20px;min-height: 700px}
.pricing li{margin-bottom: 20px;}

.p-tag-cn{ display: flex; position: relative; }
.p-tag-cn .tag{ 
    position: absolute; right: 10px; top: 10px;
    font-family:--body-font ;
    
    background: var(--yellow); border-radius: 100px; padding: 20px 30px;
    box-shadow:  var(--shadow)}


/*test*/
#fold4 .lhs{}
#fold4 .rhs{}
.box-t{     display: flex;
    column-gap: 12px;
    align-items: center;
    margin-bottom: 32px;
   
}
.box-t .media{  
border-radius: 50%;
    box-shadow:var(--shadow);
    width: 200px;
    display: flex;
    justify-content: center;
    background: #fff;
    padding: 30px;
    height: 200px;
    min-width: 200px;

}

@media (max-width: 767.98px) {
    .box-t{display:block}
    .box-t .media{margin: 40px auto}
    
}

#fold5{}
/*
#fold5 .to-right{translate: -80%;}
#fold5 .to-left{translate: 50%;}
*/


.how-it-works{}
.how-it-works .cn{background: url("../img/cover.webp")  center 40px no-repeat; min-height: 700px; }


@media (max-width: 767.98px) {
    #fold5{ padding-bottom: 60px;}
   .how-it-works .cn{background:none; min-height: auto!important; }
    
}


#fold6 {}

.cta1{background: url("../img/bg-bottom1.webp")  right 100px no-repeat; background-color: var(--sky) }
.cta1 a.main-link{ position: relative; z-index: 10; text-decoration: none; color: #003C56; }
.cta1 a.main-link:hover{ color: var(--red)}
.cat2{ margin-top: -220px; margin-bottom: 20px; position: relative; translate: 50%; }
.cta1 .arrow2{position: absolute; left: 50%; top: 0; }


footer{ background: #CCCCCC; padding: 10px; text-align: center; }

@media (max-width: 767.98px) {
.cta1{background: none; background-color: var(--sky) }
.cta1 a.main-link{ position: relative; z-index: 10; text-decoration: none; color: #003C56; }
.cta1 a.main-link:hover{ color: var(--red)}
.cat2{  display: none }
.cta1 .arrow2{position: absolute; left: 25%; top:-150px; }
    p.lead {font-size: 18px;}    

}


/*--------------------------------------------------
    ## Menu 
---------------------------------------------------*/
.menuToggle {
  display: block;
  position: relative;
  top: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

.menuToggle span {
  position: relative;
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  background: #9b9b9b;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child {
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

.menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.menuToggle input:checked ~ .menuItem {
  transform: none;
}

.menuItem {
  position: absolute;
  width: 300px;
  padding: 0px;
  padding-top: 100px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    box-shadow: -5px 5px 0 0 #00000030;
/*    transform: translateY(-4px) translateX(-2px);*/
  
}
.menuItem:after{
    
}
 
.menuItem li a{ text-decoration: none;transition: all 0.3s ease-in-out;}
.menuItem li a:hover{}


.menuItem li {transition: all 0.3s ease-in-out; border-bottom: 1px solid #cccccc; padding: 10px 20px;  font-size: 18px; }
.menuItem li:last-child {border-bottom: 0px solid #cccccc}

.menu--right .menuToggle {
  position: fixed;
    right: -30px;
    top: 16px;
}

.menu--right .menuToggle input {
  right: 50px;
}

.menu--right .menuToggle span {
  right: 50px;
}

.menu--right .menuItem {
  right: 0;
  margin: -100px 0 0 0;
  transform: translate(100%, 0);
}

.menu--right .menuItem li a:hover {
  padding-left: 10px;
}

/*--------------------------------------------------
    ## button 
---------------------------------------------------*/
.btn2,
button {
  background-color: white;
  color: black;
  border-radius: 10rem;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
    min-width: 200px;text-align: center;
    text-decoration: none
}
.btn2:hover,
button:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: var(--shadow);
}

.btn2:active,
button:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}



/*--------------------------------------------------
    ## stars
---------------------------------------------------*/

.stars {
  display: flex;
  justify-content:flex-start;
  grid-gap: 0.125rem;
  gap: 0.125rem;
  color: rgba(34, 197, 94, 1);
}

.stars svg {
  height: 1rem;
  width: 1rem;
}

@media (max-width: 767.98px) { 

.stars {
  display: flex;
  
   justify-content: center;   
}
}



/*--------------------------------------------------
    ## cards
---------------------------------------------------*/

.card3{ display: flex;  column-gap: 12px; border-radius: 24px; padding: 16px; border: 1px solid #cccccc40; background: #fff; max-width: 300px; margin: 10px 10px 30px 10px; box-shadow: var(--shadow);  transition: filter 0.3s ease;}
.card3 .media{ background: #E1E4E5; border-radius: 20px; height: 100px; margin-bottom: 0px; width: 100px; display: flex; align-items: flex-end; justify-content: center; padding: 12px;}
.card3 .content {flex-grow: 1;margin-top: 20px;}
.card3 .content div{ background: #E1E4E5; border-radius: 20px; min-height: 10px; margin-bottom: 10px;}

.card3.success{ border-color: #A8FAA2;}
.card3.success .media{  background:#A8FAA2}
.card3.success .content > div{  background:#A8FAA2}

.card3.danger{ border-color: #EE605550; max-width: 360px;  filter: blur(2px); }
.card3.danger .media{  background:#EE605550}
.card3.danger .content > div{  background:#EE605530}




/*--------------------------------------------------
    ## range
---------------------------------------------------*/


.range-form {
  width: 500px;
  margin: auto;
  padding: 10px;
}

@media (max-width: 767.98px) { .range-form {width:90%!important ; margin: 20px auto}}

.range-slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 10px;
  border-radius: 5px;
  /* Specified height */
  background: #ffffff;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.9;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  &:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
      width: 24px;
    /* Set a specific slider handle width */
    height: 24px;
    /* Slider handle height */
    background: #44CC58;
      border: 4px solid #ffffff;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 50%;
  }
  &::-moz-range-thumb {
    width: 24px;
    /* Set a specific slider handle width */
    height: 24px;
    /* Slider handle height */
    background: #44CC58;
      border: 4px solid #ffffff;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
  }
}

/* Mouse-over effects */

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.range-slider {
  display: block;
  --height-of-loader: 10px;
  --loader-color: #44CC58;
  
  height: var(--height-of-loader);
  border-radius: 30px;
/*  background-color: rgba(0,0,0,0.2);*/
  position: relative;
}

.range-slider::before {
  content: "";
  position: absolute;
/*  background: var(--loader-color);*/
background: linear-gradient(90deg, #FFF 0%, #44CC58 49.73%, #FFF 100%);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  animation: moving 3s ease-in-out infinite;
    z-index: -1;
  ;
}

@keyframes moving {
  50% {
    width: 100%;
  }

  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}


.fold-action{}
.fold-action .img-fluid{ border: 4px solid #232144; border-radius: 10px;}


