*{padding: 0;margin: 0;box-sizing: border-box;}
img{max-width: 100%;}
h1,h2,h3,h4,h4,p{padding: 0;margin: 0;line-height: 1;font-family: 'CeraGR';}
a:hover{text-decoration: none;font-family: 'CeraGR';}
ul{list-style: none;margin: 0;padding: 0;font-size: 0;}
section{display: block;}
body{font-family: 'CeraGR';}
html, body {scroll-behavior: smooth; }

@font-face {font-family: 'CeraGR'; src: url('fonts/CeraGR-Regular.eot'); src: url('fonts/CeraGR-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/CeraGR-Regular.woff2') format('woff2'), url('fonts/CeraGR-Regular.woff') format('woff'), url('fonts/CeraGR-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal; font-display: swap; }

@font-face {font-family: 'CeraGR'; src: url('fonts/CeraGR-Regular_1.eot'); src: url('fonts/CeraGR-Regular_1.eot?#iefix') format('embedded-opentype'), url('fonts/CeraGR-Regular_1.woff2') format('woff2'), url('fonts/CeraGR-Regular_1.woff') format('woff'), url('fonts/CeraGR-Regular_1.ttf') format('truetype'); font-weight: normal; font-style: normal; font-display: swap; }

@font-face {font-family: 'CeraGR'; src: url('fonts/CeraGR-Regular_2.eot'); src: url('fonts/CeraGR-Regular_2.eot?#iefix') format('embedded-opentype'), url('fonts/CeraGR-Regular_2.woff2') format('woff2'), url('fonts/CeraGR-Regular_2.woff') format('woff'), url('fonts/CeraGR-Regular_2.ttf') format('truetype'); font-weight: normal; font-style: normal; font-display: swap; }

@font-face {font-family: 'CeraGR'; src: url('fonts/CeraGR-Regular_3.eot'); src: url('fonts/CeraGR-Regular_3.eot?#iefix') format('embedded-opentype'), url('fonts/CeraGR-Regular_3.woff2') format('woff2'), url('fonts/CeraGR-Regular_3.woff') format('woff'), url('fonts/CeraGR-Regular_3.ttf') format('truetype'); font-weight: normal; font-style: normal; font-display: swap; }


.main-header {position:fixed;padding: 30px 0 30px 0; border-bottom: 1px solid #8e805d52; width: 100%; z-index: 999; -webkit-transition: all 700ms; -o-transition: all 700ms; -moz-transition: all 700ms; transition: all 700ms;}
.main-header.fixed-header{background-color: #000000b8;-webkit-transition: all 700ms; -o-transition: all 700ms; -moz-transition: all 700ms; transition: all 700ms;padding: 15px 0 15px 0;-webkit-box-shadow: 0 2px 20px #01010130; -moz-box-shadow: 0 2px 20px #01010130; -o-box-shadow: 0 2px 20px #01010130; box-shadow: 0 2px 20px #01010130; }
.main-header .navbar-nav{width: 100%;}
.main-header .navbar-brand img{}
.main-header .navbar{padding: 0;}
.navbar-light .navbar-nav .nav-link {color: #fff; font-weight: lighter; padding: 0;font-size: 14px;text-transform: uppercase;}
.main-header .navbar-nav .nav-item{margin: 0 25px;}
.main-header .navbar-nav .nav-item:last-child{margin-right: 0px;margin-left: 185px;}
.main-header .navbar-light .navbar-nav .active>.nav-link, .main-header .navbar-light .navbar-nav .nav-link.active, .main-header .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {color: #797979; }
.main-header .navbar-light .navbar-nav .nav-link:focus, .main-header .navbar-light .navbar-nav .nav-link:hover {color: #ffffff; }
.main-header .navbar-nav .nav-item .shpbtn{text-align: center;padding: 10px 30px; color: #151f32;background: transparent; font-weight: 500;border: 1px solid #151f32;border-radius: 30px; }
.main-header .navbar-nav .nav-item .shpbtn:hover{color: #151f32;}
a.theme_btn {font-size: 14px; background: linear-gradient(225deg, #db2299 0%, #862da7 100%); color: #fff; padding: 20px 30px; text-transform: uppercase; font-weight: normal; display: inline-block; }
.main-header.fixed-header .navbar-nav .nav-item .shpbtn{color: #fff;border-color: #fff;}
.main-header.fixed-header .navbar-light .navbar-brand{color: #fff;}
.item{background-repeat: no-repeat; background-size: cover; background-position: center center; height: 955px; width: 100%; padding: 100px 0 100px 0;margin-top: 104px; }
.banner-cont h1 {color: #fff; font-weight: normal; font-size: 28px; letter-spacing: 1px; }
.banner-cont h2{color: #fff; font-weight: bold; font-size: 75px; text-transform: uppercase; line-height: 1; padding: 75px 0 40px 0; }
.banner-cont h2 span{display: block;}
.banner-cont p{color: #fff;font-size: 16px;padding: 0;margin: 0;line-height: 1.8;font-weight: normal;}
.banner-cont p span{display: block;}
.banner_slider .slick-dots{bottom: 100px; }
.banner_slider .slick-next {right:-60px; left: 0px; bottom: 40px; top: auto; margin: 0 auto; }
.banner_slider .slick-prev {left: -60px; z-index: 9; right: 0px; bottom: 40px; margin: 0 auto; top: auto; }
.banner_slider .slick-prev:before{content: "\f104"; font-family:fontawesome; font-size: 40px; font-weight: normal; color: #fff; }
.banner_slider  .slick-next:before {content: "\f105"; font-family:fontawesome; font-size: 40px; font-weight: normal; color: #fff; }
.weather_sec{padding-top: 160px;}
.weather_sec p{color: #fff;font-size: 26px;font-weight: 500;padding-bottom: 20px;}
.weather_sec a{background-color: #ffb502; color: #fff; font-size: 16px; padding: 16px 24px; border-radius: 30px; font-weight: normal; display: inline-block; vertical-align: bottom; }
.weather_sec a.banner_btn2{color: #282828;background-color: #fff;}
.weather_sec a:focus{outline: none;}
.weather_sec a img{display: inline-block;vertical-align: bottom;padding-right: 5px;width: 35px;}
.banner_form{ border-radius: 6px; padding: 60px 30px; }
.form_heading h2{font-size: 26px; font-weight: bold; color: #fff; margin: 0; padding: 0 0 16px 0;}
.inp_field{margin-top: 16px;}
.inp_field input {width: 100%; border: 1px solid #fff; height: 55px; border-radius: 3px; color: #7f7f7f; font-size: 14px; padding: 15px 15px; background-color:transparent; }
.inp_field input::placeholder{color: #fff; }
.inp_field input:focus, .inp_field input:active{outline:none;}
.inp_btn_field{margin-top: 30px;}
.inp_btn_field input{border: none; background-color: #ffb502;text-transform: uppercase; color: #fff; font-size: 18px; border-radius: 3px; width: 100%; height: 55px; cursor: pointer; }


.main-destination-sec{padding: 150px 0 130px 0;}
.main-sec-heading{font-size: 60px;color: #1b1b1b;font-weight: normal;margin: 0;padding: 0;}
.main-sec-para{font-size: 16px;color: #8d9097;font-weight: normal;padding:45px 0 100px 0;margin: 0;line-height: 1.8;}
.main-sec-para span{display: block;}
.destination_box1 h3{font-size: 22px;color: #151f32;font-weight: normal;padding: 70px 0 35px 0;}
.destination_box1 p{font-size: 16px;color: #8d9097;font-weight: lighter;line-height:1.8;}


.main-services-sec{padding: 130px 0 150px 0;background-color: #f2f2f2;}
.services_box1 h3{font-size: 24px;color: #151f32;font-weight: normal;padding: 70px 0 35px 0;text-transform: uppercase;}
.services_box1 p{font-size: 16px;color: #8d9097;font-weight: lighter;line-height:1.8;}
.services_box1 figure{margin: 0;height: 63px;}
.ser_boxpd{padding-top: 80px;}



.main-client-sec{padding: 130px 0 140px 0;background-size: cover;height: 1065px;width: 100%;background-repeat: no-repeat;background-position: center center;}
.client_inner p{}
.client_box1{background-color: #fff;padding: 30px;position: relative;}
.client_box1:before{content: ""; position: absolute; bottom: -45px; left: 35px; background-image: url(../images/client-arrow.png); background-repeat: no-repeat; height: 46px; width: 46px; }
.client_box1 p{font-size: 16px;color: #0f1922;font-weight: normal;line-height: 1.6;}
.client_name{padding: 25px 0 0 0;}
.client_name ul li{display: inline-block;font-size: 14px;}
.client_name ul li img{padding: 0 10px 0 0;}
.client_name ul li span{font-size: 14px;color: #8d8d8d;}
.cli_box{padding-top: 90px;}
.main-client-sec .main-sec-heading, .main-client-sec .main-sec-para{color: #fff;}


.main-cta-sec{padding: 130px 0 130px 0;background-color: #f2f2f2;}
.main-cta-sec .main-sec-para{color: #8d9097;padding-bottom: 60px;}
.cta-inner a {background-color: #5d59e5; color: #fff; font-size: 16px; font-weight: 600; text-transform: uppercase; padding: 22px 25px; height: 68px; width: 300px; display: inline-block; border-radius: 6px; }

.main-footer-sec{padding: 200px 0 100px 0;}
.footer-para p{color: #8d9097;font-size: 16px;font-weight: normal;line-height: 1.8;}
.footer_nav ul li a{font-size: 18px;color: #0f1922;padding: 10px 0;display: inline-block;font-weight: 600;}
.shop{padding-left: 90px;}


.footer-bottom{padding: 60px 0 60px 0;border-top: 1px solid #d1d1d1;}
.footer-bottom-area p{font-size: 20px;color: #1b1b1b;font-weight: 600;}
.footer-bottom-area ul{padding-top: 30px;}
.footer-bottom-area ul li{display: inline-block;}
.footer-bottom-area ul li a {font-size: 16px; color: #151f32; padding: 10px; margin: 0 15px; }

@media screen and (max-width: 1550px) {
  

}

@media screen and (max-width: 1400px) {
  

}

@media screen and (max-width: 1300px) {
  

}

@media screen and (max-width: 1024px){


}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) { 


}

@media screen and (max-width: 768px){
.navbar-light .navbar-toggler {color: #fff; border-color: #fff; background: #fff; }
.banner-cont h2{font-size: 44px;}
.main_heading{font-size: 40px;}
.book_heading_sec p {padding: 20px 0 40px 0; }
.event_cont h2{font-size: 40px;}
.tbs_cont h3{font-size: 28px;}
.testi_inner_sec h3{font-size: 30px;}
.footer_colum ul li a {padding: 10px 15px; }
.main-header .navbar-nav {width: 100%; background: #000; padding: 15px; }
.main-header .navbar-nav .nav-item {margin: 10px 25px; }
.main-header .navbar-nav .nav-item:last-child{margin-left: 0;}

}


@media screen and (max-width: 736px){
	.banner-cont{text-align: center;}
.banner-cont h2{font-size: 40px;padding: 40px 0 70px 0;}
.banner-cont h1{font-size: 16px;}
.banner-cont .whr_cont {padding: 0 0 20px 0; }
.item{height: auto;margin-top: 70px;}
.form_heading h2{text-align: center;}
.main-header{padding: 15px 0;}
.event_cont{text-align: center;}
.footer_colum h3 {font-size: 22px; padding-bottom: 20px; padding-top: 40px; }
.photography_cnts p{padding-top: 15px;}
.weather_sec {padding-top: 50px; }
.main-destination-sec {padding: 100px 0 0px 0; }
.main-sec-heading{font-size: 46px;}
.main-services-sec {padding: 60px 0 0px 0; }
.ser_boxpd {padding-top: 0px; }
.services_box1{padding-bottom: 60px;}
.main-client-sec{height: auto;padding: 60px 0 0px 0;}
.cli_box {padding-top: 0px; }
.client_box1{margin-bottom:90px;}
.main-cta-sec {padding: 60px 0 60px 0; }
.main-footer-sec {padding: 60px 0 60px 0; }
.shop {padding-left: 0px; }
.footer_nav{text-align: center;}
.main-header .navbar-nav .nav-item .shpbtn{color: #fff;border-color: #fff;}

}


@media screen and (max-width: 480px){
	.destination_box1{text-align: center;}
	.destination_box1 p{padding-bottom: 60px;}
	.destination_box1 h3 {padding: 40px 0 35px 0; }
.main-sec-para {padding: 45px 0 60px 0; }
.services_box1{text-align: center;}
.main-sec-heading{font-size: 40px;}	
.banner-cont h2{font-size: 40px;padding: 40px 0 70px 0;}
.banner-cont h1{font-size: 16px;}
.item{height: auto;padding: 90px 0 50px 0;}
.banner_form{padding: 40px 0;}
.banner_slider .slick-dots{bottom: 50px;}
.footer-para p{text-align: center;}


}


@media screen and (max-width: 375px){


}

@media screen and (max-width: 320px){
    .weather_sec a.banner_btn2 {margin-top: 15px; }
.main-sec-heading {font-size: 32px; }
}




/****************************************
  IMPORTANT 
*****************************************/

.scroll_Top {position: fixed; right: 1%; bottom: 10px; background-color: #5d59e5;opacity: 0; transition: all 0.4s ease-in-out 0s; border-radius: 6px; line-height: 1; }
.scroll_Top a {font-size: 18px; color: #fff; padding: 15px; display: inline-block; }








































