@import url('global.css');




/*--------------------------------------------------
    ## pre loader
---------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
.perloader-object {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 96px;
  width: 96px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #0FA277;
  background-image: linear-gradient(#0FA277, #84cdfa, #5ad1cd);
}
.perloader-object span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #0FA277;
  background-image: linear-gradient(#0FA277, #84cdfa, #5ad1cd);
}
.perloader-object span:nth-of-type(1) {
  filter: blur(5px);
}
.perloader-object span:nth-of-type(2) {
  filter: blur(10px);
}
.perloader-object span:nth-of-type(3) {
  filter: blur(25px);
}
.perloader-object span:nth-of-type(4) {
  filter: blur(50px);
}
.perloader-object::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border: solid 5px var(--white);
  border-radius: 50%;
}
@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/*--------------------------------------------------
    ## sections
---------------------------------------------------*/
body {
  font-family: 'Switzer', sans-serif;
  font-size: 18px;
    color: var(--text);
}

/*--------------------------------------------------
    ## marquee
---------------------------------------------------*/
.marquee-container {
  background-color: var(--primary);
  color: var(--lite-blue);
  overflow: hidden;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 300;
  display: flex;
  align-items: center;
  height: 45px;
}
.separator {
  margin: 0 10px;
  color: var(--white);
}
.marquee-container .m-title {
  background: var(--bg1);
  padding: 0px 12px;
  font-size: 12px;
  display: block;
  position: relative;
  z-index: 1;
}
.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  width: calc(100% - 200px); /* Adjust width as needed */
  animation: marquee 30s linear infinite; /* Set the default speed */
}
.marquee:hover {
  animation-play-state: paused; /* Stop the animation on hover */
}
@keyframes marquee {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* Move off-screen to the left */
  }
}

/*--------------------------------------------------
    ## navbar
---------------------------------------------------*/
/* Header styling */
.navbar {
  background-color:none;
      transition: background-color 0.3s ease-in-out; 
    z-index: 10;

}
.navbar:hover {
  background-color: var(--primary);
}
.navbar-brand {
  font-weight: bold;
  color: var(--white);
}
.nav-link {
  color: var(--white);
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
}
.nav-link:hover {
  color: var(--lite);
}
.navbar .btn {}
.navbar-collapse.collapse:not(.show) a.btn {
  padding-left: 20px;
  padding-right: 20px;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 99px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
  background: var(--lite);
  color: var(--dark);
}

.navbar-expand-lg .navbar-nav .nav-link.active{
  background: var(--lite-blue);
  color: var(--dark);
    pointer-events: none;
}

.navbar-hidden {
      transform: translateY(-100%);
      transition: transform 0.3s ease;
    }

.fixed-top{transition: background-color 0.4s ease; /* Smooth transition */}
.fixed-top.scrolled {
      background-color: var(--bg1);
    box-shadow:0px 0px 15px 0px rgba(0, 0, 0, 0.50);
    }


/* mobile*/
.navbar-collapse.collapse.show{transition: 0.5s ease-in-out; padding: 20px;}
.navbar-collapse.collapse.show .navbar-nav.item-2 {}
.navbar-collapse.collapse.show .navbar-nav.item-2 a.btn {
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}



/*--------------------------------------------------
    ## sub menu
---------------------------------------------------*/

.submenu {
  background-color: var(--lite);
  padding: 10px;
box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    
     position: sticky;
      top: 102px; /* Sticks to the top when scrolled */
      z-index: 20; /* Ensure it stays above other content */
}
.submenu .nav-link {
  color: var(--gray-10);
  font-weight: 500;
}
.submenu .nav-link.active {
  color:var(--bg1);
background: var(--white-20);
    pointer-events: none;
    
}
.submenu .nav-link:hover {
  color:var(--dark);
background: var(--white)
}
/*--------------------------------------------------
    ## sub menu 2
---------------------------------------------------*/

.submenu2 {
  background-color: var(--white-15);
  padding: 10px 10px 0px 10px;
    
       position: sticky;
      top: 154px; /* Sticks to the top when scrolled */
      z-index: 10; /* Ensure it stays above other content */
}
.submenu2 .nav-link {
   color: var(--gray-10);
  font-weight: 500;
    border-radius: 0px;
}
.submenu2 .nav-link.active {
  color: var(--accent);
  border-bottom: 4px solid var(--accent);
    background: none;
}

/*--------------------------------------------------
    ## re usable
---------------------------------------------------*/
.has-bar{ 
    border-left: 5px solid  var(--accent); 
    padding-left: 10px; 
    margin-bottom: 20px;
}
.has-bar small{ font-size: 16px; font-weight: 500; text-transform: uppercase;
 color: var(--blue1);}

.no-bar{margin-bottom: 20px; }
.no-bar small{ 
    font-size: 16px; 
    font-weight: 500; 
    text-transform: uppercase;
 color: var(--accent);
}

p.lead{ font-size: 20px; font-weight: 500;}

/* animated bg*/
.bg-animated {
    background: linear-gradient(-45deg, #0DA1A1, #0D47A1, #0DA1A1, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    /* Other styles for the div as needed */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* cn flex 1 with 20px gap*/

.cn1-flex {
  display: flex;
  flex-direction: column;
column-gap: 20px;
    gap:20px;
}

.cn1-flex .flex-row {
  display: flex;
  gap: 20px;
}

.cn1-flex .flex-item-50 {
  flex: 1;
}

.cn1-flex .flex-item-25 {
  flex: 0.5;
}
@media (max-width: 767.98px) {
    .cn1-flex .flex-row {display:block; margin-bottom: 20px;}
    
}
/* box1*/
.box1{ 
    background: var(--lite);
border-radius: 15px;
padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    flex-direction: column;
    row-gap:10px;
    height: 100%;
}
.box1.bg-0,
.box1.bg-none{background: none}

.box1 h6{ font-size: 36px; margin: 0px;}
.box1 P{ font-size: 16px;}
.box1 i{}



.box1 i.has-circle-bg{ 
    background: var(--lite); 
    border-radius: 99px; 
    display: flex; 
    justify-content: center; 
    align-content: center; 
    padding: 20px;
    width: 100px;
    height: 100px;
}

.box1 i.has-sml-circle{ 
    border-radius: 99px; 
    display: flex; 
    justify-content: center; 
    align-content: center; 
    width: 48px;
    height: 48px;
    flex-wrap: wrap;
}
.box1 i.has-bg{ 
    background: var(--white); 
    border-radius: 20px; 
    display: flex; 
    justify-content: center; 
    align-content: center; 
    padding: 20px;
    max-width: 100px;
}
.box1 i.has-bg IMG{ width: 100%;}

@media (max-width: 767.98px) {
    .box1 {margin-bottom:20px}
    
    
}


/* box1-h*/
.box1-h{ 
    display: flex;
    gap:12px;
}

.box1-h h6{ font-size: 36px; margin: 0px;}
.box1-h P{ font-size: 16px;}
.box1-h i{ 
    background: var(--lite); 
    border-radius: 99px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
   height: 64px;
   width: 64px;
    padding: 10px;
}

.box1-h i  IMG{ width: 100%;}
.box1-h .box1-h-sml-title{ font-size: 18px;}
.box1-h .box1-h-title{ font-size: 20px; font-weight: 600; color:var(--bg1)}

@media (max-width: 767.98px) {
    .box1,
    .box1-h{
        margin-bottom:20px;
    height: auto;}
    
}




/* box2*/
.box2{ 
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    flex-direction: column;
    row-gap:10px;
}
.box2  .card-img-top{ border-radius: 16px;}
.box2 .card-title{ font-size: 24px;}
.box2 P{ font-size: 16px;}
.box2 small{ font-size: 14px; color: var(--gray-10)}

.btn.has-arrow{ 
    padding-left: 20px; 
    padding-right: 20px; 
    width: fit-content;
    display: flex;
    align-items: center;
    gap:10px;
}
.btn.has-arrow i {
    border-radius: 99px;
    background: var(--accent);
    transition: transform 0.3s ease, background 0.3s ease; /* Add smooth transition */
}

.btn.has-arrow:hover i {
    background: #006975;
    transform:  translateX(10px)  rotate(45deg); /* Rotate the icon by 30 degrees */
}


/* box3 small */
.box3-sml{
    display: flex;
    gap:10px;
    flex-direction: column;
}
.box3-sml i{}
.box3-sml  i.has-bg{ 
    background: var(--white); 
    border-radius: 20px; 
    display: flex; 
    justify-content: center; 
    align-content: center; 
    padding: 10px;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    
}
.box3-sml strong{ font-size: 14px; font-weight: 600}
.box3-sml p{ font-size: 14px;}


/* box4 small */
.box4{
border-radius: 15px;
padding: 30px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    flex-direction: column;
    row-gap:10px;
    height: 100%;
    color: var(--white);transition: transform 0.3s ease, background 0.3s ease;
}

.box4 h6{ font-size: 32px; color: var(--white)}
.box4 i{transition: transform 0.3s ease, background 0.3s ease; text-align: right;/* Add smooth transition */}
.box4:hover i{transform:   scale(1.05) translateX(10px); /* Rotate the icon by 30 degrees *//* Add smooth transition */}



/* hdr1i */
.hdr1{ 
    text-align: center;
padding-top: 40px;
padding-bottom: 40px;
}



/*--------------------------------------------------
    ## hero
---------------------------------------------------*/
.bg-animated.above-hero{ 
    position: relative; 
    padding-top: 110px;
    
}
.bg-animated.above-hero:before{
    position: absolute; content:"";
    width: 100%; 
    height: 100%;
    background-image: url('../img/bg/transparent.png');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
    top: 0px;
   
    overflow: hidden;
    z-index: 0;
}


header.hero{ 
    color: var(--white); 
padding-top: 100px;
padding-bottom: 300px;
    position: relative;
    overflow: hidden; 
}

header.hero:after{
    position: absolute; content:"";
    width: 100%; 
    height: 200px;
    background-image: url('../img/bg/frame10.png');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
    bottom: 0px;
     background-position-x: 0; /* Initial position */
  transition: background-position-x 1.9s ease-in-out;
    overflow: hidden;
    z-index: 1;
}


header.hero:hover:after {
/*  transform: translateX(50px); */
      background-position-x: -50px; /* Shift the image to the left */
}
header.hero:before{
    position: absolute; content:"";
    width: 100%; 
    height: 200px;
    background-image: url('../img/bg/frame5.png');
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
    bottom: 0px;
     background-position-x: 0; /* Initial position */
  transition: background-position-x 1.9s ease-in-out;
    overflow: hidden;
    z-index: 1;
}

header.hero:hover:before {
/*  transform: translateX(50px); */
      background-position-x: 50px; /* Shift the image to the left */
}



header.hero .data{ position: relative; z-index: 10;}
header.hero .data .pill{margin-bottom: 20px; }

header.hero h1{ text-transform: uppercase;  color: var(--white);  line-height: 1.1; font-weight: bold}
header.hero .pill1{ 
    display: flex; 
    border-radius: 99px; 
    background: var(--blue1); 
    padding: 10px 30px 10px 16px;
    align-items: center;
    width: fit-content;
    position: relative;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
      transition: background-color 0.3s ease-in-out; 
}
header.hero .pill1:hover{background: var(--accent)}
header.hero .pill1 .cn-img{display: flex; padding-left: 5px; margin-right: 10px;} 
header.hero .pill1 .cn-img IMG{margin-left: -8px;} 

.seal {
  animation: rotation 15s infinite linear;
    position: absolute;
    right: 20%;
    z-index: 10;

}

/* internal hero */
header.hero2{ 
    color: var(--white); 
padding-top: 30px;
padding-bottom: 30px;
    position: relative;
    overflow: hidden; 
}

header.hero2 h2{ color: var(--white)}

@keyframes rotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* tab-heads*/
.tab-heads{
    display: flex; 
    gap:10px; 
    flex-wrap: wrap; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.alert-warning{ background: #FFF8E7; color: var(--dark); font-size: 16px;
border-radius: 20px; border: none; padding: 32px;}

.accordion-item{ border:0px; border-bottom: 1px solid #eee; }
.accordion-button{padding-top: 20px; padding-bottom: 20px; }
.accordion-body{ background: var(--lite)}

.accordion-item:first-of-type>.accordion-header .accordion-button,
.accordion-button:not(.collapsed){
/*
        border-top-left-radius: 20px;
    border-top-right-radius: 20px;
*/
    border-bottom:0px;
}
.accordion-body{
/*
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
*/
    
}
.accordion-button.collapsed{ 
/*  border-radius: 20px;*/
    background: none;

}

/* cn2*/
.cn-2{ 
    padding: 40px; 
    margin: 0 auto;
}
.cn-2 .row { padding-top: 20px; padding-bottom: 20px;}
.cn-2 .has-bar{} 
.cn-2 .box3-sml{ } 
.cn-2 .row .col-lg-6 P{ margin-right: 60px;}
.cn-2 .row .col-lg-2 P{}

IMG.cn-img2{
    border-radius: 10px;
border: 1px solid #DDE7F2;
background: #E6F1FF;
box-shadow: 0px 10px 50px 0px rgba(210, 203, 203, 0.68);
    overflow: hidden;
     transition: transform 0.5s ease; /* Smooth scaling effect */
}
IMG.cn-img2:hover{
      transform: scale(1.05);
}


@media (max-width: 767.98px) {
   .cn-2{ padding: 20px;}
    .cn-2 .row .col-lg-6 P{ margin-right: 00px;}
    
}



/*--------------------------------------------------
    ## multi-tabs
---------------------------------------------------*/
section.multi-tabs{}
section.multi-tabs .submenu{ padding-bottom: 0px;}
section.multi-tabs .submenu .nav-tabs{border: 0px;}
section.multi-tabs .submenu .nav-link{ padding-bottom: 12px;}

section.multi-tabs .submenu2{}

.hdr2{ display: flex; justify-content: space-between}
.hdr2 .cn-btn{ align-items: center;}
.hdr2 .cn-btn .btn-lg{padding-bottom: 12px; padding-top: 12px;}
.btn-lg i{ 
    width: 30px; 
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cn-btn3{ 
align-items: center;
    display: flex;
    gap: 12px;
    justify-content: end;
}
.cn-btn3 .btn-lg{padding-bottom: 12px; padding-top: 12px;}


ul.list-unstyled { }
ul.list-unstyled li{ position: relative; padding-left: 30px; padding-bottom: 12px;}
ul.list-unstyled li i{ position: absolute; left: 0px; }
ul.list-unstyled li .lucide-info{ color: var(--accent)!important}

section.multi-tabs .tab-content .tab-content {padding-top: 60px; padding-bottom: 60px;}
section.multi-tabs .tab-content .btn.has-arrow i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.quick-links{ height: auto; padding: 12px;}
.quick-links a{ color: var(--bg1); padding: 12px 16px; border-radius: 12px;margin-bottom: 2px; }
.quick-links a:hover{ background: #D9E8F7; color: var(--bg1);}
.quick-links a.active{ background: var(--lite-blue)}


.has-list{}
.has-list i{}

.bsb-timeline-1{ padding-left: 40px;}
.bsb-timeline-1 .timeline>.timeline-item:before{ width: 60px; height: 60px; margin-left: -23px;}
.timeline-item .number{ 
    position: absolute;
    left: -53px;
    top: 0px;
    font-size: 40px;
    color: #fff;
    z-index: 1;
}


.cn-4-boxes{}
.cn-4-boxes .item{ display: flex; gap:12px; padding-right: 24px; padding-bottom: 24px;}
.cn-4-boxes .item i{ background: #03336B10; width: 48px ; height: 48px; box-sizing: border-box; padding: 8px; border-radius: 10px;}
.cn-4-boxes .item span{ }


/*--------------------------------------------------
    ## footer
---------------------------------------------------*/
footer{ 
    background: var(--bg1); 
    border-radius: 15px; 
    padding: 40px;
    color: var(--white);
    font-size: 12px;
    margin-bottom: 20px
}
footer > .row{ padding-bottom: 20px; padding-top: 20px;}
footer hr{ height: 1px; background: #315483; margin: 20px 0px }
footer h2{ color: var(--white);}
footer .social{display: flex; column-gap: 12px; }
footer a { color: var(--lite-blue); }
footer a:hover { color: var(--lite); }
#footer-main .copyright .social a{ display: flex; justify-content: center; align-items: center;
    border-radius: 99px;  height: 40px; width: 40px; text-align: center; border: 1px solid #ffffff40; color: #fff; transition: 0.25s; }

#footer-main .copyright .social a:hover{ background:var(--bg1)}
@media (max-width: 767.98px) {
    .text-right{text-align: left}
    
}

/* icon stroke colors */
.lucide{color: var(--bg1)!important}

