
/*--------------------------------------------------------------
# General - 11
--------------------------------------------------------------*/
body {
   font-family: 'Montserrat', sans-serif;
  color: #444444;
}

a {
  color: #2487ce;
}

a:hover {
  color: #469fdf;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {

}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background:var(--main-color);
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: var(--hover-color);
  color: #fff;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #2487ce;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}



/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
:root {
  --main-color: #46deb1;
  --hover-color: #31997a;
  --text-color: #313131;
  --text-hover: #fff;
}

/*#div1 {background-color: var(--main-color);}*/


/*--------------------------------------------------------------
# .btn
--------------------------------------------------------------*/
.btn {
	background-color: var(--main-color)!important; 
	color: #fff; 
	font-size: 13px;
	padding: 16px 30px;
	font-weight: 400; 
	letter-spacing: 1px;
	border-color: var(--main-color);
	border-radius: 4px;
	border: none;
	

}

.btn:hover{ 
background-color:var(--hover-color)!important;
	color: #fff!important;
	 outline: none; text-decoration: none
}

.btn-outline-primary{
	background: none!important;
	border-color: var(--main-color);
	border-width: 2px;
	
}
a{ color: var(--text-color); transition: 0.35s;}
a:hover{ color: var(--main-color)!important; outline: none; text-decoration: none}



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
	background: #fff;
}

#header.header-scrolled {
  border-color: #fff;
	background: rgba(255,255,255,0.80)   ;
  box-shadow: 0px 2px 15px rgba(18, 66, 101, 0.08);
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-family: 'Montserrat', sans-serif;
}

#header .logo a {
  color: #16507b;
}

#header .logo img {
  max-height: 50px;
}

@media (max-width: 992px) {
  #header .logo {
    font-size: 28px;
  }
.top-rhs .btn {
	display:none;
}  
.mobile-nav a {

    color: #000 !important;

}
  
  .mobile-nav-active {

    color: #000;

}
.mobile-nav-toggle { padding:7px;}
  .top-rhs .social-links {
    margin-right: 55px !important;

}

.section-title h2 {
    font-size: 33px!important;
    text-align: center;

}
.d-flex { text-align:center !important}

.services .icon-box .icon {

    display: inline-flex !important;

}
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 14px 0 14px 35px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: var(--text-color);
	
  transition: 0.3s;
  font-size: 13px;
	font-weight: 400;
 
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: var(--main-color);

}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 15px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 20px rgba(18, 66, 101, 0.1);
  transition: 0.3s;
  border-radius: 5px;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #124265;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #0059b8;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}




@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}


/* top rhs*/
.top-rhs {
	display: flex!important;
	align-items: center;
}
.top-rhs .social-links {
	margin-right: 20px;
	color: var(--main-color);
}
.top-rhs .social-links a {
	color: var(--text-color);
	margin: 0px 5px;
}
.top-rhs .social-links a:hover {
	color: var(--main-color);
}
.top-rhs .btn {
	padding: 10px 20px!important
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 28px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 20px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: var(--main-color) ;
}

.mobile-nav {
  position: fixed;
  top: 80px;
  right: 15px;
/*  bottom: 15px;*/
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 20px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 300;
  outline: none;
	font-size: 16px;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color:  var(--main-color);;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(10, 38, 58, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
	background:#fff;
}

.mobile-nav-active .mobile-nav-toggle i {
  color:  var(--main-color);;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 100vh;
	background: url("../img/bg_hero.jpg") top right no-repeat;
	background-size: cover;
	position: relative;
	color: #fff;
}
@media (min-width: 992px) {
	#hero .scroll {
		position: absolute;
		left: 130px;
		bottom: 40px;
		height: 40px;
		width: 120px;
		padding-left: 10px;
		color: rgba(108, 108, 108, 0.50);
		letter-spacing: 2px;
		font-size: 14px;
		border-bottom: 1px solid rgba(108, 108, 108, 0.50);
		-webkit-transform: rotate(90deg);
		-moz-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
		-o-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}

#hero h1 {
	padding-bottom: 50px;
	font-size: 100px;
	font-weight: 800;
	line-height: 1;
	color: #fff;
/*	text-transform: uppercase;*/
	position: relative;
}

.hdr-lhs .t1 { display: flex; justify-content: space-between}
.hdr-lhs .t1 h3{ display: inline-block;}
.hdr-lhs .t1  span{ height: 2px;
    background: #fff;
    flex-grow: 1;
    margin-left: 20px;
    margin-top: 10px}

@media (max-width:992px){
    .hdr-lhs .t1  span{
        display:none;
     text-align: center!important;
    }
   
    .scroll{
        display: none;
    }
    .hdr-lhs .t1 { display:block;}
}

#hero h3 {
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	color: #fff;
	text-transform: uppercase;
}
#hero p {
	color: #fff;
	margin: 60px 20px 15px 0;
	font-size: 14px;
	line-height: 20px;
}
#hero p span {
	color: #0563bb;
	letter-spacing: 1px;
}

@media (max-width: 992px) {
	#hero {
		text-align: center;
		height: auto;
	}
	#hero h1 {
		font-size: 29px;
		line-height: 46px;
		margin-bottom: 30px;
	}
	#hero p {
		margin-top: 10px;
		font-size: 16px;
		line-height: 24px;
	}
    #hero h3{
        text-align: center!important;
        margin-bottom: 15px;
    font-size: 20px;
    }
}
/*--------------------------------------------------------------
# Hero RHS Form
--------------------------------------------------------------*/
.hdr-rhs {
	/*	border: 1px solid #fdb825; */
}
.hdr-rhs h3 {
	font-weight: 600;
	font-size: 30px!important;
	text-transform: uppercase;
	margin-bottom: 30px;
	
}
.hdr-rhs p {
	color: #fff;
	font-weight: 400;
	font-size: 12px;
	line-height: 25px;
	margin: 10px 0px 30px 0px!important;
	
}
.hdr-rhs .form-group {
	margin-bottom: 15px;
}
.sbx, .hdr-rhs .php-email-form input, 
.hdr-rhs .php-email-form textarea {
/*	border-radius: 4px;*/
	box-shadow: none;
	font-size: 12px;
	background: none;
	border: 1px solid rgba(255, 255, 255, 0.70);
	color: #fff
}
.hdr-rhs .php-email-form input {
	height: 50px;
}

.hdr-rhs-btns {
	display: flex;
	justify-content: space-between
}

@media (max-width: 992px) {
	#hero{ background: url("../img/bg_hero.jpg") center top no-repeat; background-size: cover;}
	.cus_selt {
		text-align: left;
	}
	.hdr-lhs, .hdr-rhs{margin-top: 80px;}
/*	.hdr-rhs{margin: 80px 0px;}*/
	.hdr-rhs-btns {
		display: block;
	}
	.hdr-rhs .form-group {
		margin-bottom: 20px;
	}
	.hdr-rhs .php-email-form button {
		width: 100%;
	}
	.hdr-rhs .php-email-form button:first-child {
		margin-right: 0px;
		margin-bottom: 15px;
	}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 150px 0px;
}

.section-bg {
  background-color: #f9f9f9;
}

.section-title {
  text-align: center;
/*  padding-bottom: 30px;*/
}

.section-title h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 50px;
  padding-bottom: 0;

}
.section-title h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 0;
	text-transform: uppercase;

}
/*.section-title p */
p {
  margin-bottom: 30;
  font-size: 13px;
  color: #8d9097;
 font-weight: 300;
	line-height: 20px;
}

@media (max-width: 992px) {
    .section-title h4{
        text-align: center;
        margin-bottom: 17px;
        margin-top: 10px;
    }


}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
section.about{}
.about .lhs{ text-align:center; }
.about .section-title{ text-align: left; }

.about .rhs{ }
.about .rhs P{ margin-bottom: 50px; }



@media (max-width: 992px) {
	.about .rhs{ margin-top: 100px;}
	section.about{ text-align: center;}
	.about .section-title{ width: 100%;}
	.about .section-title h2{text-align: center;}
	.about .btn-primary{ margin: 0 auto;}
		
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services{}

.services .icon-box {
  padding: 40px;
  transition: all ease-in-out 0.3s;
 
	
}
/*.services .icon-box .col(*):nth-child(2){ background: red;}*/
.services .icon-box .icon {
  margin: 10px 0 20px ;
	background: #6be5c1;
	width: 74px;
	height: 74px;
	border-radius: 50%;
	display: flex;
	justify-content:center;
	align-items: center;
}

.services .icon-box h4 {
  font-weight: 400;
  margin: 10px 0 15px 0;
  font-size: 18px;
}





@media (max-width: 992px) {
	.services{ padding-bottom: 0px;}
	.services .section-title P{margin-bottom: 20px; margin-top: 70px;}
	.services .icon-box{ padding: 10px}
		
}



/*--------------------------------------------------------------
# Subscribe
--------------------------------------------------------------*/

.subscribe{
	color: #fff;
	padding: 100px 0px
	
}
.subscribe .section-title{margin-bottom: 0px;}
.subscribe .section-title h2{ color: #fff; font-size: 48px;}

.parallax {
  /* The image used */
	background: url("../img/bg_cta.jpg") ;
	
  /* Set a specific height */
/*  height: 300px;*/

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
section.why-us{ text-align: left;}
.why-us .rhs{ text-align:center; }
.why-us .section-title{ text-align: left; }


.why-us .lhs P{ margin-bottom: 50px; }


@media (max-width: 992px) {
	.why-us .rhs{ margin-top: 100px;}
	section.about{ text-align: center;}
	.why-us .section-title{ width: 100%;}
	.why-us .section-title h2{text-align: center;}
	.why-us .btn-primary{ margin: 0 auto;}
		
}






/*--------------------------------------------------------------
# Advisors Teams
--------------------------------------------------------------*/

.advisors {padding: 150px 0px;}
.advisors .section-title{padding-bottom: 00px;}
.advisors .member { text-align: center;}



.advisors .member .member-info {
  padding: 30px 30px;
	
}

.advisors .member .member-info h4 {
  font-weight: 600;
  font-size: 18px;
margin-bottom: 10px;
	text-transform: uppercase;
}

.advisors .member .member-info P {
  font-weight: 300;
  font-size: 12px;
margin-bottom: 10px;
	text-transform: uppercase;
}



/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
section.testimonials{ padding: 0px;}
.testimonials  .section-title{ text-align: left; }

.testimonials .lhs{ text-align:center; padding: 0px; }

.testimonials .rhs{ 
	 display: flex;
    flex-flow: row wrap;
    align-content: center;
}
.testimonials .rhs P{ margin-bottom: 50px; }

.testimonials .rhs MAIN{ font-size: 18px;  line-height: 28px; color: #818181; font-weight: 300; font-style: italic;}
.testimonials .rhs ASIDE{ font-weight: bold; color: var(--main-color); margin: 20px 0px;}


@media (max-width: 992px) {
    .testimonials .rhs MAIN{
     font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    
    }
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color:var(--text-color);
  font-size: 12px;
	padding: 60px 0px;


}

#footer .row{ display: flex; justify-content: space-between;}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
/*  background: #2487ce;*/
  color: var(--text-color);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.social-links a:hover {
	background: var(--main-color);
  color: #fff!important;
  text-decoration: none;
}

@media (max-width: 992px) {
    #footer .social-links a{
        
        line-height: 1px;
        
    }
#footer {
  color:var(--text-color);
  font-size: 10px;
	padding: 60px 0px;


}
    #footer .social-links a {
    font-size: 18px;
    padding: 8px 0;
    margin-top: -9px;
  

    
}