@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');
/*--------------------------------------------------------------
# Starkly CSS 2.0 
# ai-main.css
#
# css structure
# |-- ai-main.css
# |----| mode [lite/dark]
# |----| type [float/pinned]
# |----| lang [eng/ar]
#
# ai-main.css structure
# |-- .chat-panel
# |-- .chat-container
# |----| chat-header
# |----| chat-messages
# |----| chat-footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# mode lite
--------------------------------------------------------------*/ 
:root {
  /* == colors ==*/
  /* hue*/
  --st-primary: #0055FF;
  --st-primary-50: #edf7ff;
  --st-primary-100: #d6ecff;
  --st-primary-200: #b5dfff;
  --st-primary-300: #83cdff;
  --st-primary-400: #48b0ff;
  --st-primary-500: #1e8bff;
  --st-primary-600: #066aff;
  --st-primary-700: #0055ff;
  --st-primary-800: #0841c5;
  --st-primary-900: #0d3c9b;
  --st-primary-950: #0e265d;

    
  /*gray */
  --st-surface: #ffffff;
  --st-surface-50: #f5f7f9;
  --st-surface-100: #e8ebf0;
  --st-surface-200: #d7dde6;
  --st-surface-300: #bcc6d4;
  --st-surface-400: #9ca9be;
  --st-surface-500: #8491ad;
  --st-surface-600: #727e9e;
  --st-surface-700: #666f8f;
  --st-surface-800: #565c77;
  --st-surface-900: #484d60;
  --st-surface-950: #2f313c;
  --st-surface-990: #101114;
    
  /* indicators*/
  --st-danger: #EE4343;
  --st-success: #43EE7D;
  --st-warning: #EBEE43;
    
  /*subtle indicators*/
  --st-subtle-danger: #FFE4E0;
  --st-subtle-success: #E0FFE5;
  --st-subtle-warning: #FFFCE0;
    
  /* == font family==*/
  --st-font-family: "Inter", sans-serif;
    
  /* font sizes*/
  --st-body-font: 14px;
  --st-font-tiny: 10px;
  --st-font-sm: 12px;
  --st-font-md: 16px;
    
  /* other text variables  */
  --st-body-font-weight: 400;
  --st-font-weight-m: 500;
  --st-body-line-height: 1.5;
  --st-body-color: var(--st-surface-950);
    
  /* border radius*/
  --st-border-radius-tiny: 8px;
  --st-border-radius: 12px;
  --st-br-circle: 50%;
    
  /*box shadows*/
  --st-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.20);
  --st-shadow-lg: 0 2px 8px 0 rgba(0, 0, 0, 0.20);
  --st-shadow-msg: 0px 1px 1px 0px rgba(0, 0, 0, 0.20);
  --st-shadow-glow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
  
}



/*--------------------------------------------------------------
# Generic/explicit declarations to prevent override from parent template/website
--------------------------------------------------------------*/
/* explicit font declration */
.chat-panel {
  font-family: var(--st-font-family);
  font-weight: var(--st-body-font-weight);
}



/*--------------------------------------------------------------
# Chat Panel 
--------------------------------------------------------------*/
.chat-panel {
  position: fixed;
  right: 32px;
  bottom: 48px;
  color: var(--st-surface-900);
  z-index: 999;
}
.chat-panel .chat-panel-message {
  width: 250px;
  padding: 14px 28px;
  border-radius: var(--st-border-radius);
  border-bottom-right-radius: 0px;
  box-shadow: var(--st-shadow-glow);
  background-color: var(--st-primary-900);
  color: var(--st-surface);
  margin-bottom: 24px;
  position: relative;
  right: 30px;
  font-size: var(--st-font-md)
}
.chat-panel .chat-panel-message:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: var(--st-primary-900) var(--st-primary-900) transparent transparent;
  
}
.chat-panel .chat-panel-img img {
  height: 60px;
  width: 60px;
  box-shadow: var(--st-shadow-glow);
  border-radius: var(--st-br-circle);
  cursor: pointer;
  background-color: var(--st-primary-900);
  border: 0px solid var(--st-primary-400);
    position: relative;
    z-index: 10;
}
.chat-panel .chat-panel-img {
  text-align: end;
}
.eid-toggle-chatbot {
  display: none !important;
}
/* vertical animation*/
/*
.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
*/

/*--------------------------------------------------------------
# chat container
--------------------------------------------------------------*/
.chat-container {
  position: fixed;
  width: 400px;
  /*    height: 746px;*/
  top: 20px;
  z-index: 1000;
  bottom: 20px;
  right: 20px;
  border-radius: var(--st-border-radius);
  box-shadow: var(--st-shadow-glow);
  background-color: var(--st-surface-50);
  display: flex;
  flex-direction: column;
  transition: width .3s;
  border: 1px solid var(--st-surface-200);
  font-family: var(--st-font-family);
  font-weight: var(--st-body-font-weight);
    touch-action: pan-y;
}
/*--------------------------------------------------------------
# chat container | when pinned 
--------------------------------------------------------------*/

.chat-container.fullscreen {
  height: 100vh;
  bottom: 0px;
  right: 0;
    top: 0px;
    border: 0px;
  border-radius: 0;
  z-index: 1010;
    width: 500px;
}
.chat-container.fullscreen .chat-header {
  border-radius: 0px;
}
.chat-container.fullscreen .chat-footer {
  border-radius: 0px;
}
.chat-container.fullscreen .chat-footer .message-input {
    width: -webkit-fill-available
}

/*--------------------------------------------------------------
# chat container | scrollbar
--------------------------------------------------------------*/

#chat-messages::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--st-surface-100);
}
#chat-messages::-webkit-scrollbar {
  width: 8px;
  background-color: var(--st-surface-100);
}
#chat-messages::-webkit-scrollbar-thumb {
  background-color: var(--st-surface-400);
}

/*--------------------------------------------------------------
# chat container | header
--------------------------------------------------------------*/

.chat-header {
  padding: 12px 16px;
  border-radius: 18px 18px 0px 0px;
  border-top-left-radius: var(--st-border-radius);
  border-top-right-radius: var(--st-border-radius);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: var(--st-shadow-lg);
/*  background-color: var(--st-primary-900);*/
    background-image: linear-gradient(var(--st-primary-800) 0%, var(--st-primary-900) 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chat-header .chat-header-left-panel {
  display: flex;
  align-items: center;
  font-family: var(--st-font-family);
}
.chat-header .chatbot-header-logo {
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.15);
  border-radius: var(--st-br-circle);
  margin-right: 12px;
  height: 50px;
  width: 50px;
  background: var(--st-surface);
}
.chat-header .chat-status {
  position: relative;
}
.chat-header .chat-header-title {
  font-size: var(--st-font-md);
  font-weight: var(--st-font-weight-m);
  color: var(--st-surface);
}
.chat-header .chat-header-sub-title {
  font-size: var(--st-font-sm);
  color: var(--st-success);
  margin-top: 2px;
  font-weight: var(--st-body-font-weight);
  position: relative;
  padding-left: 16px;
}
.chat-header .chatbot-minimize-img {
  margin-left: 10px;
  margin-right: 10px;
}
.chat-header .chatbot-full-img, .chat-header .chatbot-minimize-img, .chat-header .chatbot-close-img, .chat-header .chatbot-mood-img {
  cursor: pointer;
}

/*--------------------------------------------------------------
# chat container | Messages
--------------------------------------------------------------*/

.chat-messages {
  height: 100%;
  overflow-y: auto;
  flex-grow: 1;
  padding: 20px;
  z-index: -1;
  border: 0px solid var(--st-surface-50);
  background: var(--st-surface-50);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 8px 0px inset;
}
/* == loading dots == */
.chat-messages .loading-dots {
  padding: 5px 16px;
  border-radius: var(--st-border-radius);
  border-bottom-left-radius: 0px;
  display: inline;
  background-color: var(--st-primary-300);
  margin-left: 00px;
  margin-right: auto;
  margin-top: 1px;
  margin-bottom: 20px;
    box-shadow: var(--st-shadow);
}
.chat-messages .chat-message {
  display: flex;
  flex-direction: column;
  /*    align-items: flex-end;*/
}
.chat-messages .message-details {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -16px;
    margin-left: -4px;
  position: relative;
}
.chat-messages .message-details > img {
  height: 40px;
  width: 40px;
  box-shadow: 0px 0 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: var(--st-br-circle);
  z-index: 1;
  background: var(--st-primary-900);
  border: 2px solid var(--st-surface);
}
/* directions*/
.chat-messages .system .message-details {
  /*    flex-direction: row-reverse;*/
}
.chat-messages .user .message-details {
  flex-direction: row-reverse;
}

.chat-messages .user {
  margin-bottom: 12px;
}
.chat-messages .system{
  margin-bottom: 20px;
}
.chat-messages .message-details span.message-sender {
  display: none;
}
.chat-messages .message-details span.message-timestamp {
  display: none
}

/*--------------------------------------------------------------
# chat container | user messages
--------------------------------------------------------------*/
.chat-messages .user-message {
  padding: 12px 16px;
  border-radius: var(--st-border-radius);
  border-bottom-right-radius: 0px;
  background-color: var(--st-surface-200);
  width: fit-content;
  font-size: var(--st-body-font);
  font-weight: var(--st-body-font-weight);
  line-height: var(--st-body-line-height);
  color: var(--st-surface-950);
  margin-left: auto;
  margin-right: 00px;
  margin-top: 1px;
  position: relative;
  min-width: 100px;
  max-width: 302px;
  box-shadow: var(--st-shadow-msg)
}
.chat-messages .user-message:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -16px;
  border: 12px solid;
  border-color: var(--st-surface-200) var(--st-surface-200) transparent transparent;
}

/*--------------------------------------------------------------
# chat container | system messages
--------------------------------------------------------------*/

.chat-messages .system-message {
  padding: 24px 12px 24px 18px;
  border-radius: 12px 12px 12px 0px;
  background: var(--st-primary-200);
  width: fit-content;
  font-size: var(--st-body-font);
  font-weight: var(--st-body-font-weight);
  line-height: var(--st-body-line-height);
  
  margin-left: 4px;
  margin-right: 12px;
  margin-top: 1px;
  position: relative;
  box-shadow: var(--st-shadow-msg);
  width: auto;
}
.chat-messages .system-message a {
  color: var(--st-primary-600);
  text-decoration: underline
}
.chat-messages .system-message:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent var(--st-primary-200);
}


.chat-messages .message-details .msg-feedback {
  background: var(--st-primary-300);
  padding: 6px 12px;
  position: absolute;
  top: 0px;
  right: 12px;
  border-radius: var(--st-border-radius);
  border-top-right-radius: 0px;
  box-shadow: var(--st-shadow-msg);
    opacity: 0;
  transition: 0.25s ease-in-out;
}
.chat-messages .system:hover .message-details .msg-feedback {opacity: 1;}

.chat-messages .message-details .msg-feedback IMG {
  margin-right: 2px;
  margin-left: 2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: none;
}
.chat-messages .user {}
.chat-messages .user .message-details {
  position: relative
}
.chat-messages .user .message-details .message-timestamp {
  margin-right: 24px;
  margin-top: 8px;
}
.chat-messages .user .message-details .message-sender {
  display: none
}
/*.chat-messages .user .message-details > IMG{ display: none}*/
.chat-messages .user .message-details .msg-feedback {
  display: none
}
.chat-messages .user .message-details img {
  background: none;
  margin-right: -5px;
  bottom: 0px;
  border: 0px;
}
@keyframes loadingDots {
  0%, 100%, 80% {
    transform: scale(0)
  }
  40% {
    transform: scale(1)
  }
}
.dot, icon {
  border-radius: 50%;
  display: inline-block
}
.dot {
  height: 6px;
  width: 6px;
  margin-right: 4px;
  background-color: var(--st-surface);
  animation: 1.4s ease-in-out infinite both loadingDots
}
.dot:first-child {
  animation-delay: -.32s
}
.dot:nth-child(2) {
  animation-delay: -.16s
}


/*--------------------------------------------------------------
# chat container | bot message > colors
--------------------------------------------------------------*/
.chat-messages P, 
.chat-messages ul, 
.chat-messages ul li, 
.chat-messages h1, 
.chat-messages h2, 
.chat-messages h3, 
.chat-messages h4, 
.chat-messages h5, 
.chat-messages h6,
.chat-messages .system-message,
.chat-messages .system-message P,
.chat-messages .system-message STRONG{color: var(--st-primary-950);}

#chat-widget a, 
.chat-messages a {
  cursor: pointer;
  color: var(--st-primary-700);
  text-decoration: underline;
}
/*--------------------------------------------------------------
# chat container | bot message > spacing
--------------------------------------------------------------*/
.chat-messages h1, 
.chat-messages h2, 
.chat-messages h3, 
.chat-messages h4, 
.chat-messages h5, 
.chat-messages h6{margin-top: 0px;}

.chat-messages h1{ font-size:32px }
.chat-messages h2{ font-size: 28px;}
.chat-messages h3{ font-size: 24px;}
.chat-messages h4{ font-size: 18px;} 
.chat-messages h5{ font-size: 16px;} 
.chat-messages h6{ font-size: 14px;}


.chat-messages P{padding-top: 0px; padding-bottom: 12px;margin: 0px   }
.chat-messages ul,
.chat-messages ol{ padding-top: 12px; padding-bottom: 20px; margin: 0px; padding-left: 24px}
.chat-messages li {  padding-bottom: 12px}

/*--------------------------------------------------------------
# chat container | footer
--------------------------------------------------------------*/

.chat-footer {
  display: flex;
  flex-direction: column;
  padding: 12px 16px 16px 16px;
  border-radius: var(--st-border-radius);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.10);
  position: relative;
  background: var(--st-surface-200);
  border-top: 1px solid var(--st-surface-100);
  transition: 0.25s ease-in-out;
}
.chat-footer:hover {
  background: var(--st-surface-300);
  border-top: 1px solid var(--st-surface-300);
}
.chat-footer .ai-tags {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  column-gap: 8px;
}

.chat-footer .ai-tags > div:hover {
  color: var(--st-body-color);
}

.chat-footer .ai-tags > div {
  background: var(--st-primary-50);
  border-radius: var(--st-border-radius-tiny);
  font-size: var(--st-font-sm);
  color: var(--st-surface-950);
  padding: 8px 16px 8px 8px;
  flex: 1;
  white-space: nowrap;
  transition: 0.25s;
  box-shadow: var(--st-shadow);
}
.chat-footer .ai-tags > div:first-child:not(:only-child) {
  margin-right: 4px;
}
.chat-footer .ai-tags > div:last-child:not(:only-child) {
  margin-left: 4px;
}
.chat-footer .ai-tags > div:only-child {
  margin: 0px
}
.chat-footer .ai-tags > div:nth-child(1) {
  background: var(--st-subtle-danger)
}
.chat-footer .ai-tags > div:nth-child(2) {
  background: var(--st-subtle-success)
}
.chat-footer .ai-tags > div:nth-child(3) {
  background: var(--st-subtle-warning)
}
.chat-footer .ai-tags > div:hover {
  background: var(--st-primary-200);
  cursor: pointer;
  color: var(--st-primary-700);
  text-decoration: none
}
.chat-footer .message-input {
  width: 100%;
  min-height: 80px;
  padding: 15px 55px 15px 16px;
  border: 0px;
  border-radius: var(--st-border-radius);
  font-size: var(--st-font-md);
  letter-spacing: -0.25px;
  color: var(--st-surface-950);
  background: var(--st-surface);
  box-shadow: var(--st-shadow-msg);
}
.chat-footer .message-input:focus-visible {
  outline: none;
}
.chat-footer .message-input::-ms-input-placeholder {
  color: var(--st-surface-300);
}
.chat-footer .message-input::placeholder {
  color: var(--st-surface-300);
}
.chat-footer .message-input:focus {
  border: none;
}
.chat-footer .send-button {
  position: absolute;
  padding: 0px !important;
  background: none !important;
  right: 12px;
  top: 50%;
  margin-top: -16px /* half of total icon size*/ ;
  width: auto;
  height: auto;
  /*
    width: 32px;
    height: 32px;
*/
  cursor: pointer;
  background: none;
  border: none;
}
.chat-footer .send-button:disabled {
  background-color: var(--st-surface-100);
  border-radius: 10px;
  cursor: not-allowed
}
.chat-footer .send-button:disabled IMG {
  filter: grayscale(100%);
  opacity: 0.5;
}
.chat-footer .textbox1 {
  position: relative;
}
.chat-footer .send-button > img {
  width: 32px;
  height: 32px;
}
.chat-footer .poweredby {
  display: flex;
  font-size: var(--st-font-tiny);
  justify-content: space-between;
  padding: 6px 8px 2px 8px;
  opacity: 0.75
}
.chat-footer .poweredby .link {
  color: var(--st-primary-700);
}


/*--------------------------------------------------------------
# modeDark starts here
--------------------------------------------------------------*/ 
:root {}

/*--------------------------------------------------------------
# modeDark | chat container 
--------------------------------------------------------------*/
.modeDark.chat-container {
  background-color: var(--st-surface-990)
}
/* chat header*/
.modeDark .chat-header {
  box-shadow: 0 2px 10px 0 #00000040;
}
.modeDark .chat-messages{
     background-color: var(--st-surface-950);
    box-shadow: 
}
/* chat header icons*/
.modeDark.chat-container .chat-header IMG.chatbot-mood-img {}


/*--------------------------------------------------------------
# modeDark | chat container | messages
--------------------------------------------------------------*/
/* -- user message*/
.modeDark .chat-messages .user-message {
  background: var(--st-surface-900);
}
.modeDark .chat-messages .user-message:after {
  border-color: var(--st-surface-900) var(--st-surface-900) transparent transparent;
}

/* -- system messages*/
.modeDark .chat-messages .system-message {
  background: var(--st-primary-300);
}
.modeDark .chat-messages .dot {
  background-color: var(--st-surface);
}
.modeDark .chat-messages .system .message-details > img {
  background: var(--st-surface-990);
border-color:var(--st-surface-600);
   
}

.modeDark .chat-messages .message-details .msg-feedback {
  background:var(--st-primary-400);
}
.modeDark .chat-messages .loading-dots {
  background-color: var(--st-primary-300);
}
.modeDark .chat-messages .system-message:after {
  border-color: transparent transparent transparent var(--st-primary-300);
}

/*--------------------------------------------------------------
# modeDark | chat container | footer
--------------------------------------------------------------*/
.modeDark .chat-footer {
  background-color: var(--st-surface-900); 
    border-top: 1px solid var(--st-surface-800);
}
.modeDark .chat-footer:hover {
/*  background-color: var(--st-surface-950); */
}

.modeDark .chat-footer .ai-tags > div {
  color: var(--st-surface-950);
}
.modeDark .chat-footer .message-input {
  background-color:var(--st-surface-990);
  color: var(--st-surface);
}
/*
.modeDark .chat-footer:hover  .message-input {
  background-color: var(--st-surface-990); 
}
*/

.modeDark .chat-footer .send-button:disabled {
  background-color: var(--st-surface-300);
}
.modeDark .chat-footer .poweredby {
  color: var(--st-surface);
}
.modeDark .chat-footer .poweredby a.link {
   color: var(--st-primary-400)!important;
}

/*--------------------------------------------------------------
# chat container | modeDark > bot message > colors
--------------------------------------------------------------*/
.modeDark .chat-messages P, 
.modeDark .modeDark .chat-messages ul, 
.chat-messages ul li, 
.modeDark .chat-messages h1, 
.modeDark .chat-messages h2, 
.modeDark .chat-messages h3, 
.modeDark .chat-messages h4, 
.modeDark .chat-messages h5, 
.modeDark .chat-messages h6,
.modeDark .chat-messages .system-message,
.modeDark .chat-messages .system-message P,
.modeDark .chat-messages .system-message STRONG{color: var(--st-primary-950);}


.modeDark .chat-messages a {
  color: var(--st-primary-700);
}
.modeDark .chat-messages .user-message {
  color: var(--st-surface-100) !important;
}
/*--------------------------------------------------------------
# modeDark end
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# chat container | Messages > rounded
--------------------------------------------------------------*/
:root{ --st-border-radius:20px}
.chat-header{ padding-bottom: 30px; margin-bottom: -20px;}
.chat-messages{ border-radius: var(--st-border-radius); z-index: 1; margin-bottom: -20px}
.chat-footer{ padding-top: 30px;}


#chat-messages::-webkit-scrollbar-track {
  
/*    background: red;*/
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 40px;
    margin-right: 10px;
    padding-right: 10px;
}
#chat-messages::-webkit-scrollbar {
    background: none;
}
#chat-messages::-webkit-scrollbar-thumb {
  border-radius: 40px;
}


/*--------------------------------------------------------------
# Mobile Specific
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
  .chat-container {
    width: 100%;
    height: calc(100vh - 100px);
    bottom: 20px;
    right: 0px;
    border-radius: 20px;
  }
}

/*--------------------------------------------------------------
# Loading -spinner
--------------------------------------------------------------*/
.vert-move:after{ 
    content: ""; 
    right: -4px;
    bottom: -4px; 
    display: block; 
    position:absolute;
    z-index: 9;
    
  background-image: linlinear-gradient(rgb(242 242 242) 35%, rgb(0, 225, 255))ear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
  width: 68px;
  height: 68px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}


@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Connection status
--------------------------------------------------------------*/
.connection-status{
  animation: 1.5s pulse infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #43EE7D;
  }

  100% {
    box-shadow: 0 0 0 14px #43EE7D00;
  }
}