/* Slider */
/* Styling the default Slick dots */
.slick-dots {
    position: absolute;
    right: 100px;
    top: 40%;
}
.slick-dots li {display: block;cursor: pointer;color: #d1cfce;font-size: 25px;font-weight: 700;font-family: 'AvantGarde LT';padding: 10px 0;text-align: center;}
.slick-dots li+li {}
.slick-dots button { font-size:  0px; width: 10px; height: 10px; background-color: #ccc; border-radius:  100%; cursor: pointer; }
.slick-dots li.slick-active button { background-color: #8f8e8e; }
.slick-dots li.slick-active {color: #fcd258;font-size: 45px;padding: 20px 0 30px;position: relative;}
.slick-dots li:before {width: 0;height: 3px;background-color: #c8c5bf;position: absolute;bottom: 0px;content: '';left: -17px;transition: all 0.3s ease-in;}
.slick-dots li.slick-active:before {width: 130px;}

.slick-slider
{ position: relative; display: block;box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;}
.slick-list{position: relative;display: block;overflow: hidden;margin: 0;padding: 0 0px 70px;}
.slick-list:focus{ outline: none;}
.slick-list.dragging { cursor: pointer; }
.slick-slider .slick-track,
.slick-slider .slick-list { 
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track { position: relative; top: 0; left: 0; display: block; margin-left: auto; margin-right: auto; }
.slick-track:before, .slick-track:after  { display: table; content: ''; }
.slick-track:after { clear: both; }
.slick-slider .slick-prev:after {width: 1px; height: 20px; background: #7f7f7f; position: absolute; right: -15px; top: 0; bottom: 0; margin: auto; content: ''; }
.slick-loading .slick-track { visibility: hidden; }
.slick-slide  {display: none;float: left;height: 100%;min-height: 1px;}
[dir='rtl'] .slick-slide{ float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img {pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide {  display: block; height: auto; border: 1px solid transparent; }
.slick-arrow.slick-hidden { display: none; }

.slick-slider .slick-prev, .slick-slider .slick-next {position: absolute;right: 110px;cursor: pointer;background: transparent;/* margin: auto; *//* width: 38px; *//* height: 38px; */border-radius: 50%;color: #000;opacity: 0.5;transition: all .2s ease-in-out;z-index: 2;top: -100px;margin: auto;}
.slick-slider .slick-next {right: 40px;left: inherit;}
.slick-slider .slick-prev:before, .slick-slider .slick-next:before {content: "\f104";font-family: FontAwesome;font-size: 30px;line-height:  33px;top: -3px;position: absolute;left: -15px;}
.slick-slider .slick-next:before {content: "\f105";left: inherit;right: -18px;}
.slick-slider .slick-prev:hover,
.slick-slider .slick-next:hover { border-color: #57bb6e;color: #57bb6e;opacity: 1;}


