@import url(loyica-home-responsive.css);

@media(max-width:1024px){
    body{
    overflow: visible!important;
    text-align:center
}
.pg-casestudy .item1 {
    background: url(../img/cases/elezer/screen-main1.png) left top no-repeat, url(../img/cases/hexub/bg_item1.jpg) no-repeat;
    background-size:0, cover!important
}
.pg-casestudy .item2 {
    background: url(../img/cases/elezer/screen-main2.png) -50px -66px no-repeat #fff;
}
.pg-casestudy .item7 main, .pg-casestudy div,p, .pg-casestudy span,  .pg-casestudy h1, .pg-casestudy h2, .pg-casestudy h3, .pg-casestudy h4, .pg-casestudy h5, .pg-casestudy h6{
    text-align: center!important;
}
.pg-casestudy .item6 .bg-dark .bg_elezer-large IMG {
    margin-left: 0;
    width: 100%;
    height: auto;
}
.pg-casestudy .item5 .child .typo-info .child,.three-boxes > DIV {
    transform: none !important;
    opacity: 1 !important;
}
.pg-casestudy .item1 {
    padding-top:50px;
}
.cn > div[class^="item"], .cn {
    height: inherit!important;
}
.pg-casestudy .item1 .child:first-child {
    padding: 40px;
    display: block;
    flex-direction: inherit;
    justify-content: center;
    text-align: center;
    width: 100%;
    flex: none!important;
}
.pg-casestudy .item1 h1 {
    font-size: 50px;
}
.pg-casestudy .item1 h2 {
    font-size: 26px;
    max-width: 100%;
}
.pg-casestudy .item1 P {
    width: 100%;
    max-width: 100%;
    line-height: 1.5;
}
.pg-casestudy .item2 , 
	.pg-casestudy .item3   {
    padding: 0!important;
    display: block;
    flex: none;
    flex-flow: inherit;
    height: inherit!important;
    margin: 0
}
.pg-casestudy .item2 > DIV.child .display-1{
    font-size: 40px;
    padding-top: 40px;
}
.pg-casestudy .item2 > DIV.child {
    flex: none;
    position: relative;
    display: block;
    padding: 0;
    text-align: center;
}
.three-boxes > DIV {
    flex-basis: inherit;
    padding: 30px 20px;
    text-align: center;
    vertical-align: top
}
.three-boxes .cn-ic1 {
    margin: 0 auto;
}
.three-boxes h1{
    font-size: 26px;
}
	
	.pg-casestudy .item3 h2{
		font-size: 26px;
    margin-bottom: 20px;
}
	
.three-boxes p,.pg-casestudy .item3 p {
    font-size: 20px;
    line-height: 2;
    padding: 20px;
}
.pg-casestudy .item3 > .child:first-child {
    background: #000;
    padding: 00px;
    display: block;
    flex-direction: inherit;
    justify-content: center;
    flex: none!important;
}
.pg-casestudy .item3 h1 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 20px;
    margin-top: 0px;
    line-height: 1;
    padding-top: 30px;
}
.pg-casestudy .item3 .child~.child{
    display: none;
}
.pg-casestudy .item4,.pg-casestudy .item5 {
    display: block;
    background: #fff;
    color: #5c5c5c;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    flex: none!important;
}
.pg-casestudy .item4 > .child {
    flex: none!important;
    flex-basis: inherit;
    position: relative;
    display: block;
    height: inherit;
}
.three-boxes > DIV {
    width: 33.06%;
    flex: none;
    display: inline-block;
}
.pg-casestudy .item5 .col-5, .item7 .col-md-4{
    width: 100%;
    flex: none!important;
    max-width: 100%;
    padding:0 30px;
}
.item7 .col-md-3{ 
    flex: none;
    max-width: 50%;
}
.pg-casestudy .item5 .child .typo-info .child {
    text-align: center;
    color: #fff;
    padding: 0px;
    display: block;
    justify-content: center;
    flex-direction: column;
    flex-basis: inherit;
    width: 50%;
}
.pg-casestudy .item5 .child h4, .pg-casestudy .item5 .child h5 {
    margin-top: 30px;
    background: none!important
}
.pg-casestudy .item5 .child .color-info,.pg-casestudy .item5 .child .color-info2 {
    justify-content: center;
    text-align: center;
    margin: 10px 0px;
    width: 100%;
}
.pg-casestudy .item5 .child .color-info dl, .pg-casestudy .item5 .child .color-info2 div{
    width: 25%;
    max-width: 25%;
    display: inline-block;
}
.pg-casestudy .item5 > .child {
    flex: none;
    position: relative;
    text-align: center;
}
.pg-casestudy .no-cn{
    padding-left: 0!important
}
.pg-casestudy .item5a {
    padding: 0;
    display: block;
}
.pg-casestudy .item5a .col-md-4{
    text-align: center;
    width: 100%;
    flex: none!important;
    max-width: 100%;
    padding:0 30px;
}
.item5a .three-boxes > DIV{
    padding-top: 0;
    padding-bottom:0
}
.item5a .col-md-4, .item5a .col-md-6{
    margin-top: 30px;
}
.item5a .col-md-4 .three-boxes > DIV{
       padding-top:30px
}
.pg-casestudy .item6 .bg-dark main{
    font-size: 34px
}
.pg-casestudy .item6 .col-md-8, .pg-casestudy .item7 .col-md-8{
    text-align: center;
    width: 100%;
    flex: none!important;
    max-width: 100%;
    padding:0 30px;
    margin:0!important
}
.pg-casestudy .item6 .bg-dark{
    padding:0px 0px 200px 0px
}
.pg-casestudy .item7{
    padding-left: 20px;
    padding-right: 20px;
    margin-top:40px
}
.pg-casestudy .item7 main {
    font-size: 34px;
}
.item9 .d-flex img{
    height: 60vh;
}
.pg-casestudy .item6 {
    padding: 0;
    background: #0e0e0f;
    margin: 0;
    display: block;
    width: 100%;
}
.pg-casestudy .item5 .child h5:after{
    display: none
}
.pg-casestudy .item6 .three-boxes {
    justify-content: space-between;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    text-align: center;
    flex: none!Important;
}
.pg-casestudy .item1 h4 {
    color: #FFFFFF;
}
.pg-casestudy .item1 h1 {
    font-size: 50px;
    color: #FFFFFF;
}
.pg-casestudy .overlay1 {
    display:none
}
.pg-casestudy .item3 p, .pg-casestudy .item3 h2{
    margin:0!important;
    width: 100%;
    max-width: 100%;
}
.three-boxes h4 {
    min-height: 40px;
}
.three-boxes h1 {
    min-height: 70px;
}
.pg-casestudy .item6 .bg-white h4{
 padding:80px 0px 100px 0px   
}
.pg-casestudy .item6 .bg-dark .hirarchy1 img{
    
    width: 100%;
    height: auto;
    padding: 10px;
}
.pg-casestudy .item8 .layer6 {
    margin-left: 80px;
}
.pg-casestudy .item8 {
    padding: 0px;
    text-align: center;
    position: relative;
    min-height: inherit;
    margin-top: 0;
}

.pg-casestudy .item8 img{
    width: 90%
    }   

}

@media(max-width:868px){
.pg-casestudy .item5 .child .color-info,.pg-casestudy .item5 .child .color-info2 {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 10px 0px;
    justify-content: center;
    text-align: center;
    margin: 10px 0px;
    width: 100%;
}
.pg-casestudy .item6 .three-boxes P{
    padding:0
}
.pg-casestudy .item6 .bg-dark{
    padding-bottom:0
}
.three-boxes > DIV {
    width: 100%;
    flex: none;
}
.pg-casestudy .item5 .child .color-info dl,
.pg-casestudy .item5 .child .color-info2 div{
padding:10px 0 0!important
}

.pg-casestudy .item7 h4{
    padding-top: 0;
}

.pg-casestudy .item8 .layer7, .pg-casestudy .item8 .layer6, .pg-casestudy .item8 .layer5, .pg-casestudy .item8 .layer4, .pg-casestudy .item8 .layer3, .pg-casestudy .item8 .layer2, .pg-casestudy .item8 .layer1     {
    position: relative;
    bottom: inherit;
    margin: 0;
    padding: 25px ;
    left:inherit;
    right: inherit;
    top:inherit;
    bottom:inherit;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.pg-casestudy .item8  figure img {
    
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
}
.pg-casestudy .item8 dl{
    width: 100%!important;
    text-align: left!important;
    position: static!important;
    display: block!important;
    clear: both!important;
    float: left!important;
    padding: 0 0 0 20px!important;
    margin: 0 0 0 0px!important;
    min-width: 100%!important;
    max-width: 100%!important;
    bottom: inherit!important;
    right: inherit!important;
}
.pg-casestudy .item8  FIGURE {
    margin: 0px!important;
}
.item9 .d-flex img{
    height: 30vh;
}

}

@media(max-width:640px){
.pg-casestudy .item6 .three-boxes IMG{
    width: 100%
}
.pg-casestudy .item8{
    margin-top: 100px;
    min-height: inherit;
}
.pg-casestudy .item8 img{
width: 100%;
transform:translate(10px, -100px)!important;

}
.pg-casestudy .item5 .child .color-info dl, .pg-casestudy .item5 .child .color-info2 div{
    width: 100%;
    max-width: 100%;
    display: block;
}
.item7 .col-md-3{ 
    flex: none;
    max-width: 100%;
}
.item7 .col-md-3 img{ 
    flex: none;
    max-width: 100%;
}
.item9 .d-flex img{
    height: 30vh;
}

}