@import url(loyica-home-responsive.css);

@media(max-width:1024px){
    body{
    overflow: visible!important
}
.pg-about .item2 FOOTER, .pg-about .item3 FOOTER, .pg-about .item4 FOOTER, .pg-about .item5 FOOTER, .pg-about .item6 FOOTER{
    display: none!important;
}
.pg-solutions .item5 .bg-waves-small {
    margin-top: -150px;
    z-index: 0!important;
}
.scrollme, #button-1, #button-2, #button-3 {
    transform: none !important;
    opacity: 1 !important;
}
.pg-solutions .child p{
    padding:0 0px;
}
.footer .item6 .child P{
    padding:0!important
}
.fwid{ display: block; width: 100vw}
#process{ margin-top: 50px;}
.pg-solutions .frame .item.short{
    transform: scale3d(1, 1, 1)!important;
    opacity: 1!important;
}
.pg-solutions .scrollbardiv{
    text-align: center;
    padding:0;
    z-index: 1000;
    margin-left: 0;    
}
.pg-solutions .scrollbardiv a:hover, .pg-solutions .scrollbardiv a:active, .pg-solutions .scrollbardiv a:focus{
    opacity: 1!important;
}
.pg-solutions .scrollbardiv a.prev{
    left: 30px;
    position: absolute;
    font-size: 100px;
    opacity: .3;
    top: 0;
    height: 100%;
    width: auto;
    z-index: 9999999999;
    align-items: center;
    display: inline-grid;
}
.pg-solutions .scrollbardiv a.next{
    left: 19%;
    position: absolute;
    font-size: 100px;
    opacity: .3;
    top: 0;
    height: 100%;
    width: auto;
    z-index: 9999999999;
    align-items: center;
    display: inline-grid;
}
.pg-solutions .frame ul{
    transform: translate(0);
}
.pg-solutions .item4{
    height: inherit!important;
}
.pg-solutions .frame .item{
    height: 100%!important;
    margin: 10px 10px;
    padding: 0;
    transform: scale3d(1,1,1)!important;
    opacity: 1;
}
.pg-solutions .frame .item a{
    display:block;
}
.pg-solutions .frame .item .worktitle h2 {
    font-size: 40px;
}
.pg-solutions #work .frame{
    height: inherit;
    align-items: left;
    justify-content: left;
    flex: none;
    display: block;
}
#work, #overview, #deploy, #solutions, .pg-solutions .item3{
    height: inherit!important;
}
.pg-solutions .wrap {
    position: relative;
    margin: 0px;
}
.pg-solutions .scrollbar {
    display: none!important;
}
.pg-solutions .item5 .nav,.pg-solutions .item5 .nav-tabs
{
    display: none!important
}
.solution-dd{
    position: relative;
    z-index: 99999;
    display: table!important;
    margin: 0 auto
}
.solution-dd button{
    background:#f86200!important;
    border-radius: 0;
    border:0;
    margin:10px auto;
    box-shadow:none!important;
    text-transform: uppercase;
	min-width: 200px;
}
.solution-dd a{
    color:#565656;
    text-transform: uppercase;
    font-size:14px;
}
.solution-dd a:hover, .solution-dd a:focus{
    background: #f86200;
    color:#FFFFFF
}

.dropdown-menu{
    border-radius: 0;
    border:0;
    background: #fcfcfc;
    display:none;
    box-shadow: 0 9px 40px -10px #151515;
}
#solutions .dropdown-menu{
    box-shadow: 0 9px 40px -10px #CCC!important;
	min-width: 200px;
    
}
#pg-sol1-item3-tabcontet{
    padding:50px 20px 0px 20px;
}
	#pg-sol1-item3-tabcontet UL{
		list-style-type: none;
		margin-bottom: 0px;
}
.pg-solutions .item5 .nav.show{
display: block!important;
	min-width: 200px;
}

.pagination{
    display: none;
}
.pg-about .item2, .pg-about .item3, .pg-about .item5, .pg-about .item6{
    padding: 0!important;
    display: block;
    flex: none;
    flex-flow: inherit;
    height: inherit!important;
    margin: 0

}
.pg-about .item2 > DIV.child:first-child, .pg-about .item3 > DIV.child:first-child {
    padding-left: 0;
    text-align: center;
    flex: none!important;
    padding: 50px 0;
}
.pg-about .item2 > DIV.child:first-child P, .pg-about .item3 > DIV.child:first-child P {
    max-width: inherit;
    text-align: center;
}
.three-boxes .cn-ic1 {
    margin: 0 auto;
}

.three-boxes > DIV {
    text-align: center;
    width: 48%;
    flex: none!important;
    display: inline-block;
    clear: none;
    padding: 20px;
    transform: none!important;
}
.pg-about .item2 > DIV.child:first-child .display-1, .pg-about .item3 > DIV.child:first-child .display-1{
    font-size: 30px
}
.pg-about .item2 > DIV.child:first-child:before, .pg-about .item3 > DIV.child:first-child:before{
    display: none
}
.pg-about .item2 > DIV P, .pg-about .item3 > DIV P {
    font-size: 17px;
    padding: 0 20px;
}
.pg-about .item2{
    flex:none!important;
    height: inherit!important;
}
.pg-about .item3 .three-boxes, .three-boxes {
    justify-content: inherit;
    display: inline-block;
    clear: both;
    flex: none!important;
    padding: 0px 20px!important;
    margin: 0px;
    width: 100%;
}
.cn >  FOOTER {
    position: static!important;
}
#stats{  height: inherit!important}
.pg-about .item4 .head-with-line{
    flex:none!important;
    width: 100%;
    padding-top:20px;
}
.pg-about .item4 .head-with-line P {
    text-transform: none!important;
    font-size: 20px!important;
    margin: 15px 30px!important;
    max-width: 100%!important;
    letter-spacing: 0px!important;
}
.pg-about .item4{
    padding: 0!important;
    height: 150vh!important
}
.pg-about .item4 .ss2 {
    flex-flow: inherit;
    align-items: left;
    position: relative;
    margin: 20px auto 0;
    flex: none;
    text-align: left;
    width: 100%;
    padding: 20px 20px 0;
}
.three-boxes h4{
    font-size:1rem
}
.cn-scrollbar{
    display: none
}
#clients{
    height: inherit!important
}
.footer .item6 {
    margin-left: 0px;
    display: block;
}
.pg-solutions .item2 > DIV.child:first-child.display-1 {
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: 200;
    max-width: 100%;
    text-transform: uppercase;
    padding: 20px;
    width: 100%;
    text-align: center;
    min-width: 100%;
    flex: none!important;
    display: table;
    transform: none!important;
}
.pg-solutions .item2 > DIV.child.display-2 {
    max-width: 100%;
}
.pg-solutions .item3 DIV.child:nth-child(1) .big-lines2, .pg-solutions .item3 DIV.child> ul, .pg-solutions .item3 DIV.child:nth-child(1) .big-lines, .pg-solutions .item3 DIV.child > .child
{
    display: none;
}
.pg-solutions .item3,.pg-solutions .item5, .pg-solutions .item3 DIV.child{
    flex:none;
    display: block
}
.norm-tabs ul{
    padding:0;
    margin:20px auto;
    list-style-type: none;
    border:0;
    display: table;
    width: 90%;

}
.norm-tabs ul li, .norm-tabs ul a, .norm-tabs ul li a.active{
    padding:0;
    margin:0px;
    list-style-type: none;
    border:0;
    display: inline-block;

}
.norm-tabs ul li a{
    border-radius: 0px;
    padding: 20px 30px;
    background: #666666!important;
    letter-spacing: 3px;
    font-size: 14px;
    color: #fff!important;
}
.norm-tabs ul li a.active{
    border-radius: 0px;
    padding: 20px 30px;
    background: #f86200!important;
    letter-spacing: 3px;
    font-size: 14px;
    color: #fff!important;
}
.pg-solutions .item5 .nav-tabs {
    z-index: 2;
    position: relative;
    left: 0;
    width: 100%;
    margin-left: 0;
    display: block;
    border-bottom: 0px;
    top: inherit;
    bottom: inherit;
    clear: both;
}
.pg-solutions .item5 .nav-tabs .nav-item {
    flex: none;
    padding: 5px 0!important;
    margin: 0;
    width: inherit;
    height: inherit;
    text-align: center!important;
    width: 40%;
    display: inline-block;
}
.pg-solutions .item5 .tab-content{
    width: 80%;
    max-width: 80%;
    margin: 0 auto 0;
}
.pg-solutions .item5 .bg-waves-small {
    margin-left: 0;
}
	
}
@media(max-width:768px){
    .pg-solutions .item2{
    padding: 20px;
    height: inherit!important;
    }
    .pg-solutions .scrollbardiv a.next{
        left: 18%;
    }    
    .pg-solutions .item4 {
        height: inherit!important;
    }
    .three-boxes > DIV{
        text-align: center;
        width: 100%;
        flex: none!important;
        display: block;
        clear: both;
        padding: 20px 0;
        transform: none!important;
    }
    .pg-about .item5 .child > DIV.sub-child DIV.el2 {
        flex: none;
        text-align: center;
        padding: 30px 0;
    }
    .pg-about .item5 .child > DIV.sub-child {
        flex: 1 50%!important;
        border-right: 0px!important;
    }
    .pg-solutions .item5 .tab-content{
        width: 80%;
        max-width: 80%;
        margin: 10% auto;
		margin-top: 130px;
    }
    .pg-solutions .item5 .bg-waves-small {
        margin-left: 0;
        margin-top: -10px;
        background-size: 100%!important;
    }
    #process, .pg-solutions .item5{ 
        height: inherit!important;
    }
	
.sidetextmenu h6{
	position: static;
    transform: none;
    font-size: 40px;
    width: auto;
    color: #fff;
    font-weight: 200;
    padding: 0;
    margin: 40px auto 20px;
    display: table!important;
    padding-bottom: 5px!important;
}
	
	
}    
@media (max-width: 668px){
.pg-solutions .item5 .nav-tabs .nav-item {
    width: 50%;
    display: inline-block;
}
.norm-tabs ul li a.active, .norm-tabs ul li a {
    padding: 10px 10px!important;
}
	.pg-solutions .item5 .tab-content IMG.svg{
		height: 160px;
		width: auto;
	}
	.pg-solutions .item5 .tab-content h4{ margin-top: 50px;}
	
.pg-solutions .item2 > DIV.child:first-child.display-1 {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: 200;
    max-width: 100%;
    text-transform: uppercase;
    padding: 0;
    width: 100%;
    text-align: center;
    min-width: 100%;
    flex: none!important;
    display: table;
    transform: none!important;
}
.pg-solutions .item2 {
    display: block;
    flex: none;
    padding: 20px;
}
.pg-solutions .item2 > DIV.child.display-2 {
    color: #999;
    font-size: 18px;
    line-height: 1.5;
    border-left: 4px solid var(--colorMain);
    padding: 0!important;
    font-weight: 300;
    transform: none!important;
    border: 0;
}
.cn > div[class^="item"] > FOOTER{
    display: none!important
}
.pg-solutions .item2, #overview, #process, .pg-solutions .item5{
    height: inherit!important;
}
.pg-solutions .frame .item .worktitle h2{
    font-size: 22px;
}

	.pg-solutions .item5{ padding-bottom: 50px;}
	
.pg-solutions .scrollbardiv{
        width: max-content;
        padding-top: 50px;
        margin-left: 0px;
        display: none!important
}
.pg-solutions .scrollbar{
    width: 300px;
}
.pg-solutions .frame .item{
         width:80vw;
  height: 80vh;
        padding: 0px 10px;
        height: 100% !important;

}
.pg-solutions .frame .item .worktitle h2{
    font-size: 30px;
}
.pg-solutions .frame .item .worktitle{
    top: 31px;
}
.pg-solutions .item5 .outer1{
    display: none;
}
	
	.pg-solutions .item1 h2{ font-size: 20px; line-height: 1.8}
	
	.footer .item6 .child:nth-child(1){  display: none}
	.footer .item6 .child:nth-child(2){ }
	
}
/*Desktop*/
.fwid, .solution-dd{
    display: none
}
