@media(min-width:1024px) {
	.desktop-hidden {
		display: none!important
	}
}
@media(max-width:1024px) {
	.wz-lhs {
		display: none
	}
	.wz-rhs {
		width: 100%
	}
	.wz-rhs-main {
		width: 100%
	}
	.owl-item .item {
		height: auto;
		padding-top: 120px
	}
}
@media(max-width:886px) {
	.wz-rhs-main h4 {
		padding: 0 20px;
		line-height: 1.4
	}
	.rn-cn {
		width: 100%
	}
	.range {
		width: 100%
	}
	.range-labels {
		position: relative!important;
		display: table;
		max-width: 70%;
		margin: 0 auto!important
	}
	.range-labels li {
		width: 50%!important;
		font-size: 18px!important;
		padding: 10px
	}
	.owl-carousel .owl-item {
		overflow-y: auto;
		height: 100vh
	}
	.owl-carousel .owl-item .item {
		padding-bottom: 50px
	}
	.item1-emp .three-columns {
		width: 100%
	}
	.item1-emp .three-columns UL.list-unstyled {
		display: block
	}
	.item1-emp .three-columns UL.list-unstyled LI {
		margin: 30px!important
	}
	.owl-nav {
		position: absolute;
		bottom: 50px;
		left: 0;
		transform: inherit
	}
	.item2-dept .three-columns {
		width: 100%
	}
	.item2-dept .three-columns UL.list-unstyled {
		display: block
	}
	.item2-dept .three-columns UL.list-unstyled li {
		margin: 30px
	}
	.item4-cases .special1 {
		border-radius: 4px;
		border: 2px solid #d4e2f2;
		background: #eaf3fc;
		width: 100%;
		display: block;
		margin: 30px auto;
		text-align: center;
		padding: 20px
	}
	.item4-cases .special1 i {
		display: block;
		float: none;
		margin-right: 0;
		width: auto
	}
	.item4-cases .special1 i img {
		display: block;
		width: auto;
		margin: 0 auto 20px
	}
	.s3-icon-cn {
		width: 100%
	}
	.owl-nav {
		position: fixed;
		bottom: 60px;
		left: 0;
		transform: inherit
	}
	button.owl-prev {
		position: fixed;
		left: 0;
		font-size: 11px!important;
		z-index: 99;
		width: 60px;
		margin: 0!important;
		border-radius: 0
	}
	button.owl-next {
		position: fixed;
		right: 0;
		font-size: 11px!important;
		z-index: 99;
		width: 60px;
		margin: 0!important;
		border-radius: 0
	}
	.range {
		display: none!important
	}
	.wz-rhs-main h1 {
		font-size: 28px;
		margin-bottom: 30px
	}
	.item4-cases .card-header UL LI {
		width: 100%
	}
	.item4-cases .card {
		margin-bottom: 60px
	}
	.wz-cn {
		display: block;
		height: 100vh
	}
	section.wz-lhs {
		width: 100%;
		margin: 0;
		display: inline-block;
		flex: none;
		height: 60px;
		min-height: inherit;
		justify-content: inherit;
		flex-direction: inherit;
		padding: 12px 0 0;
		text-align: center
	}
	.wz-lhs a.wz-cn-lhs-btn, section.wz-lhs h1, section.wz-lhs h4, section.wz-lhs p {
		display: none!important
	}
	.wz-lhs HEADER {
		border-bottom: 0 solid #fff!important
	}
	.range-labels li::before {
		display: none!important
	}
	.range-labels li {
		text-align: left!important;
		padding-left: 25px
	}
	.owl-item .item HEADER.head1 {
		top: 20px!important
	}
	.owl-item .item {
		padding-top: 60px!important
	}
	.item2-dept .three-columns {
		width: 100%;
		margin: 0
	}
	.range-labels li.active::after {
		position: absolute;
		color: #4daad4;
		display: inline-block;
		content: "\f00c";
		font-family: FontAwesome;
		left: 0
	}
	.rn-label1 {
		display: none
	}
	.rn-label2 {
		display: none
	}
	.rn-label3 {
		display: none
	}
	.rn-label1.active {
		display: block
	}
	.rn-label2.active {
		display: block
	}
	.rn-label3.active {
		display: block
	}
}
@media(max-width:868px) {
	.header1 {
		padding-top: 30px
	}
	.header1 p {
		padding: 0 1rem!important
	}
	.page-header .navbar .btn-group {
		margin: 0;
		display: table;
		width: 100%;
		text-align: right;
	}
	.page-header .navbar .btn-group .dropdown-toggle {
		width: 100%
	}
	.page-header .navbar .btn-group .dropdown-menu.show {
		width: 100%;
		height: 100vh;
	}
	.pg-clients .nav-pills .nav-item {
		margin: 0 10px 20px
	}
	.wrapper {
		min-height: inherit
	}
	.pg-pipeline UL {
		display: block;
		justify-content: start;
		color: #5c5f70;
		font-size: 15px;
		list-style-type: none;
		text-align: left;
		padding: 0;
		width: 90%
	}
	.pg-pipeline UL LI {
		width: 100%;
		position: relative
	}
	.pg-pipeline UL LI i {
		display: inline-block;
		text-align: center;
		margin-right: 15px
	}
	.pg-pipeline UL LI i:after {
		display: none!important
	}
	.pg-products .card {
		min-width: 100%;
		max-width: 100%
	}
	.col-lg-8.offset-2 {
		margin-left: 0!important
	}
	.table td:first-child, .table th:first-child {
		padding-left: 10px
	}
	.panel-body .form-control {
		padding: 10px 20px;
		height: 60px;
		line-height: 60px;
		border-radius: 0;
		border: 1px solid #eee;
		font-size: 14px;
		width: 100%
	}
	.table .fa {
		color: #a8bdc7;
		margin: 0 5px;
		cursor: pointer;
		font-size: 16px;
		outline: 0;
		display: block;
		margin: 10px 0 0
	}
	.table td strong {
		display: block
	}
	.navbar-nav {
		display: table!important
	}
	.navbar-nav li {
		width: 50%;
		float: left;
		min-height: 65px;
	}
	.pg-employees .table tr.bg-primary td, .pg-employees .table tr.bg-primary td:last-child {
		background: none!important;
	}
	.table .thead-dark th {
		white-space: nowrap;
	}
	.pg-roles .nav-pills .nav-link {
		margin-bottom: 10px;
	}
	.table tr {
		display: table-row;
	}
	.pg-roles .table .thead-dark TH {
		width: 100%;
	}
	.pg-products .card {
		margin: 20px 0!important
	}
	.ui-selectmenu-button.ui-button {
		max-width: 100%;
		min-width: 100%;
	}
	.navbar-nav li.width-full {
		width: 100%!important;
		display: block!important
	}
/*
	.page-footer.ftr-main {
		display: none!important
	}
*/
	.page-footer.ftr-main .btn {
		min-width: 150px;
		
	}
	.fwdbk{ position: fixed; bottom: 00px; right: 0px;left: 0px; display: flex;justify-content: space-between}
	.fwdbk a{ padding: 15px 20px; text-align: center; background: #232635!important; font-size: 20px; opacity: 0.8; }
	.fwdbk a:hover{opacity: 1  }
	
}
@media(max-width:668px) {
	.dropdown.mobshow li {
		width: 100%;
		margin: 0!important
	}
	.mobhide {
		display: none!important
	}
	div.mobshow {
		display: block!important;
	}
	.pg-roles .nav-pills .nav-link {
		width: 80%;
		margin: 1px auto;
	}
	.mobshow .dropdown-toggle {
		background: #4daad4!important;
		border-color: #4daad4!important;
		box-shadow: none!important;
	}
	.dropdown-menu.show {
		display: block;
		width: 100%;
		background: none;
		transform: translate3d(0px, 55px, 0px)!important;
		border: 0!important
	}
	.dropdown-menu.show ul {
		background: none;
		display: table;
		margin: 0 auto;
		width: 65%;
		padding: 0px 0;
		margin-top: -12px;
	}
	.navbar-toggler {
		margin-right: 5px;
	}
	.pg-clients .card {
		min-width: 100%;
		max-width: 100%;
		margin: 20px 0;
	}
	.pg-employees .table tr.bg-primary td:last-child {
		white-space: nowrap;
	}
}
