@font-face {
    font-family: 'Axiforma';
    src: url('Axiforma-Medium.woff2') format('woff2'),
        url('Axiforma-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Axiforma';
    src: url('Axiforma-ExtraBold.woff2') format('woff2'),
        url('Axiforma-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Axiforma';
    src: url('Axiforma-Light.woff2') format('woff2'),
        url('Axiforma-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Axiforma Book';
    src: url('Axiforma-Book.woff2') format('woff2'),
        url('Axiforma-Book.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Axiforma';
    src: url('Axiforma-Heavy.woff2') format('woff2'),
        url('Axiforma-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Axiforma';
    src: url('Axiforma-Regular.woff2') format('woff2'),
        url('Axiforma-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Axiforma';
    src: url('Axiforma-SemiBold.woff2') format('woff2'),
        url('Axiforma-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Axiforma';
    src: url('Axiforma-Thin.woff2') format('woff2'),
        url('Axiforma-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

