*{padding: 0;margin: 0;box-sizing: border-box;}
img{max-width: 100%;}
h1,h2,h3,h4,h4,p{padding: 0;margin: 0;font-family: 'CeraGR'; sans-serif;line-height: 1.1;}
body{font-family: 'CeraGR', sans-serif;}
ul{list-style: none;margin: 0;padding: 0;font-size: 0;}
a:hover{text-decoration: none;font-family: 'CeraGR'; sans-serif;}
@font-face {font-family: 'CeraGR'; src: url('fonts/fonts/CeraGR-Regular.eot'); src: url('fonts/fonts/CeraGR-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/fonts/CeraGR-Regular.woff2') format('woff2'), url('fonts/fonts/CeraGR-Regular.woff') format('woff'), url('fonts/fonts/CeraGR-Regular.ttf') format('truetype'); font-weight: normal; font-style: normal; font-display: swap; }
@font-face {font-family: 'CeraGR'; src: url('fonts/fonts/CeraGR-Light.eot'); src: url('fonts/fonts/CeraGR-Light.eot?#iefix') format('embedded-opentype'), url('fonts/fonts/CeraGR-Light.woff2') format('woff2'), url('fonts/fonts/CeraGR-Light.woff') format('woff'), url('fonts/fonts/CeraGR-Light.ttf') format('truetype'); font-weight: 300; font-style: normal; font-display: swap; }
@font-face {font-family: 'CeraGR'; src: url('fonts/fonts/CeraGR-Black.eot'); src: url('fonts/fonts/CeraGR-Black.eot?#iefix') format('embedded-opentype'), url('fonts/fonts/CeraGR-Black.woff2') format('woff2'), url('fonts/fonts/CeraGR-Black.woff') format('woff'), url('fonts/fonts/CeraGR-Black.ttf') format('truetype'); font-weight: 900; font-style: normal; font-display: swap; }
@font-face {font-family: 'CeraGR'; src: url('fonts/fonts/CeraGR-Medium.eot'); src: url('fonts/fonts/CeraGR-Medium.eot?#iefix') format('embedded-opentype'), url('fonts/fonts/CeraGR-Medium.woff2') format('woff2'), url('fonts/fonts/CeraGR-Medium.woff') format('woff'), url('fonts/fonts/CeraGR-Medium.ttf') format('truetype'); font-weight: 500; font-style: normal; font-display: swap; }
@font-face {font-family: 'CeraGR'; src: url('fonts/fonts/CeraGR-Thin.eot'); src: url('fonts/fonts/CeraGR-Thin.eot?#iefix') format('embedded-opentype'), url('fonts/fonts/CeraGR-Thin.woff2') format('woff2'), url('fonts/fonts/CeraGR-Thin.woff') format('woff'), url('fonts/fonts/CeraGR-Thin.ttf') format('truetype'); font-weight: 100; font-style: normal; font-display: swap; }
@font-face {font-family: 'CeraGR'; src: url('fonts/fonts/CeraGR-Bold.eot'); src: url('fonts/fonts/CeraGR-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/fonts/CeraGR-Bold.woff2') format('woff2'), url('fonts/fonts/CeraGR-Bold.woff') format('woff'), url('fonts/fonts/CeraGR-Bold.ttf') format('truetype'); font-weight: bold; font-style: normal; font-display: swap; }
.no_pad_left{padding-left: 0;}
.no_pad_right{padding-right: 0;}
.main_heading{font-size: 66px;font-weight: 500;color: #000;padding: 0 0 80px 0;}
.main-header {padding: 40px 0 40px 0; position: fixed; width: 100%; z-index: 999; -webkit-transition: all 700ms; -o-transition: all 700ms; -moz-transition: all 700ms; transition: all 700ms; }
.main-header.fixed-header {background-color: #000000b8; -webkit-transition: all 700ms; -o-transition: all 700ms; -moz-transition: all 700ms; transition: all 700ms; padding: 15px 0 15px 0; -webkit-box-shadow: 0 2px 20px #01010130; -moz-box-shadow: 0 2px 20px #01010130; -o-box-shadow: 0 2px 20px #01010130; box-shadow: 0 2px 20px #01010130; }
.main-header .navbar-nav{width: 100%;}
.main-header .navbar{padding: 0;}
.main-header .navbar-nav .nav-item{padding: 0 15px;display: inline-block !important;}
.main-header .navbar-nav .nav-item:last-child{padding-right: 0;}
.main-header .navbar-nav a{font-size: 12px;font-weight: 500;color: #fff !important;padding:0px;}

.main-header a.register_btn {width: auto; font-size: 16px; color: #fff; padding: 13px 50px; text-transform: uppercase; background-color: transparent; border: 1px solid #fff; height: auto; }
.main-header a.register_btn:hover { background: #eb334f; border: 1px solid #eb334f;}

.inp_btn_field input:hover {
    background-color: #cc2d45;
}
.theme_btn:hover {
    background-color: #cc2d45;
}

.scroll_Top a:hover {
    background-color: #cc2d45;
    border-radius: 6px;
}

i.banner_social:hover {
    color: #cc2d45;
}	

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav-menu > ul {
	display: flex;
}
.nav-menu > ul > li {
	position: relative;
	white-space: nowrap;
	padding: 14px 0 14px 15px;
}
.nav-menu a {
	display: block;
	position: relative;
	color: #fff;
	transition: 0.3s;
	font-size: 15px;
	font-weight: 600;
	padding:10px 15px !important;
}
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
	color: var(--main-color);
}
.nav-menu .drop-down ul {
	display: block;
	position: absolute;
	left: 15px;
	top: calc(100%+ 30px);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	padding: 10px 0;
	background: #fff;
	box-shadow: 0px 0px 20px rgba(18, 66, 101, 0.1);
	transition: 0.3s;
	border-radius: 5px;
}
.nav-menu .drop-down:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}
.nav-menu .drop-down li {
	min-width: 180px;
	position: relative;
}
.nav-menu .drop-down ul a {
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	color: #124265;
}
.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
	color: #0059b8;
}
.nav-menu .drop-down > a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 5px;
}
.nav-menu .drop-down .drop-down ul {
	top: 0;
	left: calc(100% - 30px);
}
.nav-menu .drop-down .drop-down:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
}
.nav-menu .drop-down .drop-down > a {
	padding-right: 35px;
}
.nav-menu .drop-down .drop-down > a:after {
	content: "\eaa0";
	font-family: IcoFont;
	position: absolute;
	right: 15px;
}
@media (max-width: 1366px) {
	.nav-menu .drop-down .drop-down ul {
		left: -90%;
	}
	.nav-menu .drop-down .drop-down:hover > ul {
		left: -100%;
	}
	.nav-menu .drop-down .drop-down > a:after {
		content: "\ea9d";
	}
}

@media (max-width: 768px) {
	.get-started-btn {
		margin: 0 48px 0 0;
		padding: 5px 18px 6px 18px;
		border-radius: 3px;
	}
	.scroll {
		display: none
	}
	.top-rhs{ display: none}
}


@media (min-width: 992px) {
	/* top rhs*/
.top-rhs {
	display: flex;
	align-items: center;
}
.top-rhs .social-links {
	margin-right: 20px;
}
.top-rhs .social-links a {
	color: #fff;
	margin: 0px 5px;
}
.top-rhs .social-links a:hover {
	color: var(--main-color);
}
.top-rhs .btn {
	padding: 10px 20px!important
}
	
	.top-rhs2{ display: none} 
}


/* Mobile Navigation */
.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 28px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 20px;
	transition: all 0.4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
}
.mobile-nav-toggle i {
	color: var(--main-color);
}
.mobile-nav {
	position: fixed;
	top: 80px;
	right: 15px;
	/*  bottom: 15px;*/
	left: 15px;
	z-index: 9999;
	overflow-y: auto;
	background: #fff;
	transition: ease-in-out 0.2s;
	opacity: 0;
	visibility: hidden;
	border-radius: 10px;
	padding: 20px 0;
}
.mobile-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.mobile-nav a {
	display: block;
	position: relative;
    color: #fff !important;
    padding: 10px 20px;
    font-weight: 600;
	outline: none;
	font-size: 14px;
	text-align: center;
}

.mobile-nav a span {padding: 10px 0px;}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
	color: var(--main-color);
	;
	text-decoration: none;
}
.mobile-nav .drop-down > a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 10px;
	position: absolute;
	right: 15px;
}
.mobile-nav .active.drop-down > a:after {
	content: "\eaa1";
}
.mobile-nav .drop-down > a {
	padding-right: 35px;
}
.mobile-nav .drop-down ul {
	display: none;
	overflow: hidden;
}
.mobile-nav .drop-down li {
	padding-left: 20px;
}
.mobile-nav-overly {
	width: 100%;
	height: 100%;
	z-index: 9997;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(10, 38, 58, 0.6);
	overflow: hidden;
	display: none;
	transition: ease-in-out 0.2s;
}
.mobile-nav-active {
	overflow: hidden;
}
.mobile-nav-active .mobile-nav {
	opacity: 1;
	visibility: visible;
	background: #fff;
}
.mobile-nav-active .mobile-nav-toggle i {
	color: var(--main-color);
	;
}

.icofont-navigation-menu:before {
    content: "\efa2";
    color: #eb334f;
}

button.mobile-nav-toggle.d-lg-none {
    margin-top: 3px;
}
.icofont-close:before {
    content: "\eee4";
    color: #eb334f;
}

.mobile-nav-active .mobile-nav {
    opacity: 0.8;
    background: #000;
}

span.icon-facebook2, span.icon-twitter2, span.icon-instagram {
    color: #fff;
    padding: 0px 10px;
}

span.icon-facebook2:hover, span.icon-twitter2:hover, span.icon-instagram:hover {
    color: #6adb97;
    transition: .3s;
}

.icon-twitter2:before {
    content: "\ea96";

}

@media screen and (max-width:812px) and (orientation: landscape) {
	.top-rhs {display:none;}
}


@media (max-width: 768px) {
	.top-rhs2 {
	display: block;
	align-items: center;
		padding: 20px;
		
}
	.top-rhs2 .social-links {
    display: flex;
    margin: 20px auto;
    justify-content: center;
}
	.top-rhs2 .social-links a{ color: #313131; font-size: 20px;}
}

/* TEST END */

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #2487ce;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
      background: rgba(230, 50, 78, 0.68);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #fff;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}



.main-header .navbar-nav{width: 100%;}
.main-header .navbar{padding: 0;}
.main-header .navbar-nav .nav-item{padding: 0 12px;display: inline-block !important;}
.main-header .navbar-nav .nav-item:last-child{padding-right: 0;}
.main-header .navbar-nav a{font-size: 12px;font-weight: 500;color: #fff !important;padding:0px;text-transform: uppercase;}

.navbar-light .navbar-toggler-icon {background-image: none;}
.navbar-light .navbar-toggler-icon:before {
    content: "\efa2";
    color: #6cdd99;
}
.navbar-toggler:focus{ outline: none;}
ul.nav-menu { margin-right: 15px;}
ul.nav-menu li {float:left; list-style:none;}
.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
color: #eb334f;}



.theme_btn{background-color: #eb334f; font-size: 16px; color: #fff; padding: 18px 15px; height: 45px; display: inline-block; text-align: center; width: 150px; font-weight: 500; border-radius: 30px; text-transform: capitalize;transition: 0.2s;}
.theme_btn:hover{color: #fff;text-decoration: none;}
.theme_btn span{padding-left: 10px;}
.main_bnner_sec{background-repeat: no-repeat; background-position: center top; background-size: cover; width: 100%; /*height: 1065px;*/ margin: 0px 0 0 0;     padding: 230px 0px 170px;}
.main_bnner_sec .container-fluid{position: relative;}
.main_bnner_sec .container-fluid .rotate_para {content: ""; position: absolute; left: -130px; top: 0; bottom: 0; margin: auto; font-size: 16px; color: #fff; font-weight: 500; transform: rotate(270deg); width: 300px; height: 15px; letter-spacing: 5px; text-transform: uppercase; }
.main_bnner_sec .container-fluid .banner_social {content: ""; position: absolute; right: 0px; top: 0; bottom: 0; margin: auto; width: 30px; height: 130px; }
.main_bnner_sec .container-fluid .banner_social li {display: block; padding: 40px 0 0 0; }
.main_bnner_sec .container-fluid .banner_social li:first-child{padding-top: 0;}
.main_bnner_sec .container-fluid .banner_social li a{color: #fff;font-size: 14px;}
.h1_heading{padding-bottom: 25px;font-size: 20px; font-weight: 300; color: #efefef; line-height: 1;text-transform: uppercase;}
.h2_heading{font-size: 66px;color: #f4f4f4;font-weight: bold;line-height: 1.1;}
.h2_heading span{}
.banner_cont p {padding: 50px 0 80px 0; font-size: 16px; font-weight: 400; color: #fff; line-height: 1.8; opacity: 0.5; }
.banner_cont p span{display: block;}
.banner_cont a {width: 200px; height: 50px; padding: 13px 15px; font-weight: bold; }
.banner_form{ -webkit-box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, 0.2); -o-box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, 0.2); box-shadow: 0px 0px 128px 0px rgba(0, 0, 0, 0.2); border-radius: 6px; padding: 60px 30px; }
.form_heading h2 {font-size: 42px; font-weight: 700; color: #fff; margin: 0; padding: 0 0 16px 0; text-transform: uppercase; font-family: 'Montserrat', sans-serif;}
.inp_field{margin-top: 16px;}
.inp_field input {width: 100%; border: 1px solid #949494; height: 68px; border-radius: 3px; color: #7f7f7f; font-size: 14px; padding: 15px 25px; background-color: #fff; }
.inp_field input::placeholder{color: #889199; font-family: 'Montserrat', sans-serif;}
.inp_btn_field{margin-top: 30px;}
.inp_btn_field input {border: none; background-color: #eb334f; color: #fff; font-size: 20px;font-weight: 600; border-radius: 3px; width: 100%; height: 68px; cursor: pointer;text-transform: uppercase;    font-family: 'Montserrat', sans-serif; }

.main_clients_logo_sec{height: 170px;background-color: #f9f9f9;}
.inner_clients_logo ul{position: relative; display: flex; justify-content: space-around; flex-wrap: wrap; width: 100%; margin-bottom: 0; }
.inner_clients_logo ul li{display: inline-block;}

.main_good_design_sec{padding: 150px 0 100px 0;}
.good_design_cont {padding-left: 60px; }
.good_design_img img{width: 100%;}
.good_design_cont h2 span{display: block;color: #eb334f;font-size: 20px;font-weight: 400;text-transform: uppercase;padding-bottom: 25px;}
.good_design_cont h2{font-size: 66px;font-weight: 400;color: #000000;line-height: 1;}
.good_design_cont p{font-size: 16px;font-weight:300;color: #000000;line-height: 1.8;padding: 50px 0 85px 0;}
.good_design_cont a{height: auto; width: auto; font-weight: 300; padding: 16px 60px; }



.main_our_services_sec{background-color: #f8f8f8;padding: 150px 0 40px 0;}
.services_box{min-height: 555px;}
.servic_img img{width: 100%;}
.service_cont h2{margin: 60px 0 40px 0;position: relative;font-size: 36px;font-weight: 400;color: #000000;padding-left: 30px;line-height: 1;}
.service_cont h2:before{content: ""; position: absolute; left: 0; top: 5px; height: 28px; width: 5px; background-color: #eb334f; }
.service_cont p{font-size: 16px;font-weight: 300;color: #000000;padding-left: 30px;line-height: 1.6;}


.main_testimonials_sec{position: relative; height: 800px; width: 100%; display: block; padding: 100px 0 100px 0; }
.main_testimonials_sec:before{content: ""; position: absolute; left: 0; top: 0; width: 50%; height:100%; background-size: cover; background-repeat: no-repeat; background-position: center center;}
.main_testimonials_sec:after{content: ""; position: absolute; right: 0; top: 0; width: 50%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: center center; z-index: -1; }
.main_paly_button{position: relative;}
.play {position: absolute; width: 100px; height: 100px; left: 50%; top: 50%; transform: translate(-50%,-50%); }
.play .video-btn {width: 94px; height: 94px; background: radial-gradient(#eb334f 50%, rgba(235, 51, 79, 0.46) 52%); border-radius: 50%; display: block; position: absolute; left: calc(50% - 47px); top: calc(50% - 47px); overflow: hidden; border-color: #eb334f; }
.play .video-btn::before {content: ''; position: absolute; width: 120px; height: 120px; -webkit-animation-delay: 0s; animation-delay: 0s; -webkit-animation: pulsate-btn 2s; animation: pulsate-btn 2s; -webkit-animation-direction: forwards; animation-direction: forwards; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: steps; animation-timing-function: steps; opacity: 1; border-radius: 50%; border: 5px solid rgba(36, 135, 206, 0.7); top: -15%; left: -15%; background: rgba(198, 16, 0, 0); }
.play .video-btn::after {content: ''; position: absolute; left: 50%; top: 50%; transform: translateX(-40%) translateY(-50%); width: 0; height: 0; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 15px solid #fff; z-index: 100; transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.play .video-btn:hover::before {content: ''; position: absolute; left: 50%; top: 50%; transform: translateX(-40%) translateY(-50%); width: 0; height: 0; border: none; border-top: 10px solid transparent; border-bottom: 10px solid transparent; border-left: 15px solid #fff; z-index: 200; -webkit-animation: none; animation: none; border-radius: 0; }
.play .video-btn:hover::after {border-left: 15px solid #eb334f; transform: scale(20); }
.testi_inner {padding: 0 60px 0px 0;}
.testi_inner img{}
.testi_inner p{color: #fff;font-size: 22px;font-style: italic;font-weight: 300;line-height: 36px;padding: 50px 0 85px 0;    font-family: 'Montserrat', sans-serif;}
.main_prson{font-size: 0;}
.person_img{display: inline-block;width: 20%;vertical-align: middle;}
.person_cont{display: inline-block;width: 20%;vertical-align: middle;     margin-left: 20px;}
.person_cont h3{font-size: 18px;color: #fff;font-weight: 400;    font-family: 'Montserrat', sans-serif;}
.person_cont span{font-size: 14px;color: #fff;font-weight: 200;     font-family: 'Montserrat', sans-serif;}

.main_pricing_sec{padding: 150px 0 150px 0;text-align: center;}
/*.main_pricing_sec .col-md-9{margin-left: 30px;margin-right: 30px;}*/
.pricing_box{border: 1px solid #cbcbcb; font-family: 'Montserrat', sans-serif;}
.prc_rate{padding: 35px 0 35px 0;border-bottom: 1px solid #cbcbcb;}
.recmed .prc_rate{padding-top: 0;}
.recmed .prc_rate h2{color: #fff;background-color: #1f0e36;font-size: 14px;font-weight: 600;padding: 22px 15px;margin-bottom: 35px;font-family: 'Montserrat', sans-serif;}
.prc_rate h3{font-size: 20px;font-weight: 700;color: #000000;text-transform: uppercase;font-family: 'Montserrat', sans-serif;}
.prc_rate p{font-size: 72px;color: #eb334f;font-weight: bold;padding: 28px 0 10px 0;}
.black {color:#1f0e36 !important;}
.prc_rate span{font-size: 14px;color: #b1b0b0;font-weight: 400;}
.pri_details{padding: 35px 20px 25px 20px;}
.pri_details ul li{display: block; font-size: 14px; color: #939393; font-weight: 300; line-height: 2.6; }
.pri_details ul li span{font-size: 14px; color: #222222; font-weight: 600; }
.pri_details a{border-radius: 0px;width: 100%;height: auto;padding:14px 15px;margin-top: 15px;text-transform: uppercase; font-size: 14px; font-weight:600; }
.recmed a.theme_btn{background-color: #1f0e36;text-transform: uppercase; font-size: 14px; font-weight:600;}

.main_porfolio_sec{overflow: hidden;padding-bottom: 170px;}
.main_porfolio_sec .container-fluid{max-width: 1700px;}
.folio_img1 img{width: 100%;}
.folio_img2 img{width: 100%;}
.folio_img3 img{width: 100%;}
.folio_img4 img{width: 100%;}
.folio_img5 img{width: 100%;}
.folio_img6 img{width: 100%;}

.porfolio_img.folio_img4 {margin-top: 30px; }
.porfolio_img.folio_img3 {margin-bottom: 30px; }
.main_cta_sec{background-color: #270f37;height: 295px;padding: 60px 0 60px 0;}
.cta_cont h2{color: #fff;    font-size: 45px;font-weight: 600; font-family: 'Montserrat', sans-serif;}
/*.cta_cont h2 span{display: block;} */
.cta_btn{text-align: right;}
.cta_btn a {width: auto; height: auto; padding: 10px 40px; font-weight: 300; }


.main-footer {height: 190px; padding: 60px 0 60px 0; }
.ftr_social ul li{display: inline-block;padding: 0 15px;}
.ftr_social ul li a{font-size: 14px;color: #000;}
.copy_rights p{font-size: 14px;color: #26272b;opacity: 0.7;}






@media screen and (max-width: 1550px) {
 

}

@media screen and (max-width: 1400px) {

}

@media screen and (max-width: 1300px) {
  

}

@media screen and (max-width: 1024px){
.banner_cont p span, .cta_cont h2 span{display: inline;}
.person_img{width: 40%;}
.person_cont{width: 30%;}

}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) { 


}

@media screen and (max-width: 768px){
	
a.nav-link.register_btn { width: 70%; font-size: 16px; color: #fff;padding: 13px 50px; text-transform: uppercase;
    background-color: transparent; border: 1px solid #fff; height: auto; border-radius: 25px; margin: 0 auto;}
.navbar-light .navbar-toggler {color: #fff; border-color:#fff; background-color: #fff; }
.main_bnner_sec{height: auto;padding: 100px 0 60px 0;}
.h2_heading{font-size: 36px;}
.banner_form{padding: 30px 0 0 0;}
.form_heading h2{font-size: 30px;padding: 0;}
.inner_clients_logo ul li {width: 13%; }
.good_design_cont h2{font-size: 26px;}
.main_good_design_sec {padding: 70px 0 70px 0; }
.good_design_cont a {padding: 12px 40px; }
.good_design_cont p {padding: 25px 0px 35px 0; }
.main_our_services_sec {padding: 70px 0 40px 0; }
.main_heading {font-size: 44px; padding: 0 0 50px 0; }
.service_cont h2 {margin: 35px 0 25px 0; font-size: 26px; }
.services_box {min-height: 450px; }
.testi_inner {padding: 0 20px 0px 0; }
.person_img{width: 40%;}
.person_cont{width: 30%;}
.testi_inner img {width: 90px; }
.main_pricing_sec {padding: 70px 0 70px 0; }
.cta_cont h2{font-size: 30px;}
.cta_cont h2 span{display: inline;}
.cta_btn a {padding: 10px 30px; font-weight: 400; }
.main_cta_sec{height: auto;padding: 30px 0 30px 0;}
.main-footer {height: auto; padding: 30px 0 30px 0; }
.main-header {padding: 20px 0 40px 0; }
.banner_cont p span{display: inline;}
.main-header .navbar-nav{padding: 15px;}
.main_porfolio_sec {  padding-bottom: 60px;}
.main_testimonials_sec { padding: 40px 0 100px 0;
}

}


@media screen and (max-width: 736px){
	
a.nav-link.register_btn { width: 73%; font-size: 16px; color: #fff;padding: 13px 50px; text-transform: uppercase;
    background-color: transparent; border: 1px solid #fff; height: auto; border-radius: 25px; margin: 0 auto;}
.main-header {padding: 20px 0 20px 0; }
.main_bnner_sec{height: auto;padding:160px 0 100px 0; }
.h2_heading, .good_design_cont h2{font-size: 40px;}
.h1_heading {padding-bottom: 15px; font-size: 18px; }
.banner_cont p, .good_design_cont p {padding: 30px 0 40px 0; }
.good_design_cont {padding-left: 0px;text-align: center; }
.main_good_design_sec{padding: 60px 0 60px 0;}
.main_our_services_sec{padding: 60px 0 20px 0;}
.main_heading{font-size: 40px;padding-bottom: 40px;}
.services_box {min-height: 425px; }
.service_cont h2{font-size: 28px;margin: 30px 0 25px 0;}
.main_testimonials_sec{height: auto;padding: 60px 0 60px 0;}
.main_testimonials_sec:before{width: 100%;height: 200px;}
.main_testimonials_sec:after{width: 100%;height: 500px;top:200px;}
.testi_inner {padding: 175px 0px 0px 0; }
.play .video-btn {top: calc(50% - 0px); }
.testi_inner p {font-size: 18px; padding: 29px 0 35px 0; }
.testi_inner img {width: 75px; }
.person_img{width: 25%;}
.person_cont{width: 25%;}
.main_pricing_sec{padding: 60px 0 60px 0;}
.no_pad_left{padding-left: 15px;}
.no_pad_right{padding-right: 15px;}
.main_cta_sec{padding: 30px 0 30px 0;height: auto;}
.cta_cont h2{font-size: 28px;}
.cta_cont h2 span{display: inline;}
.cta_btn{text-align: center;padding-top: 30px;}
.main_bnner_sec .container-fluid .rotate_para, .main_bnner_sec .container-fluid .banner_social{display: none;}
.banner_form{padding: 60px 0 0 0;}
.inner_clients_logo ul li {display: inline-block; width: 50%; text-align: center; padding: 15px 0; }
.main_clients_logo_sec{height: auto;padding: 30px 0 30px 0;}
.main-footer{height: auto;padding: 30px 0;}
.ftr_social {text-align: center; }
.copy_rights {text-align: center; padding-bottom: 20px; }
.main_porfolio_sec{height: auto;padding: 60px 0 60px 0;}
.folio_img3 img {width: 100%; }
.form_heading h2 {font-size: 32px; padding: 0 0 0px 0;text-align: center; }
.main-header .navbar-nav a.register_btn {padding: 13px 20px; }
.porfolio_img.folio_img5 {margin-bottom: 30px; }
.porfolio_img.folio_img2 {margin-bottom: 30px; }
.porfolio_img.folio_img4 {margin-bottom: 30px; }
.banner_cont{text-align: center;}
.pricing_box {margin-bottom: 30px; }
.cta_cont{text-align: center;}


}


@media screen and (max-width: 480px){	
.main-header {padding: 20px 0 20px 0; }
.main_bnner_sec{height: auto;padding:160px 0 100px 0; }
.h2_heading, .good_design_cont h2{font-size: 35px;}
.h1_heading {padding-bottom: 15px; font-size: 18px; }
.banner_cont p, .good_design_cont p {padding: 30px 0 40px 0; }
.good_design_cont {padding-left: 0px; }
.main_good_design_sec{padding: 60px 0 60px 0;}
.main_our_services_sec{padding: 60px 0 20px 0;}
.main_heading{font-size: 40px;padding-bottom: 40px;}
.services_box {min-height: 425px; }
.service_cont h2{font-size: 28px;margin: 30px 0 25px 0;}
.main_testimonials_sec{height: auto;padding: 60px 0 60px 0;}
.main_testimonials_sec:before{width: 100%;height: 200px;}
.main_testimonials_sec:after{width: 100%;height: 500px;top:200px;}
.testi_inner {padding: 160px 0px 0px 0;text-align: center; }
.play .video-btn {top: calc(50% - 0px); }
.testi_inner p {font-size: 18px; padding: 29px 0 35px 0; }
.testi_inner img {width: 75px; }
.person_img{width: 25%;}
.person_cont{width: 25%;}
.main_pricing_sec{padding: 60px 0 90px 0;}
.no_pad_left{padding-left: 15px;}
.no_pad_right{padding-right: 15px;}
.main_cta_sec{padding: 30px 0 30px 0;height: auto;}
.cta_cont h2{font-size: 22px;}
.cta_cont h2 span{display: inline;}
.cta_btn{text-align: center;padding-top: 30px;}
.main_bnner_sec .container-fluid .rotate_para, .main_bnner_sec .container-fluid .banner_social{display: none;}
.banner_form{padding: 60px 0 0 0;}
.inner_clients_logo ul li {display: inline-block; width: 50%; text-align: center; padding: 15px 0; }
.main_clients_logo_sec{height: auto;padding: 30px 0 30px 0;}
.main-footer{height: auto;padding: 30px 0;}
.ftr_social {text-align: center; }
.copy_rights {text-align: center; padding-bottom: 20px; }
.main_porfolio_sec{height: auto;padding: 60px 0 60px 0;}
.folio_img3 img {width: 100%; }
.form_heading h2 {font-size: 32px; padding: 0 0 0px 0; }
.main-header .navbar-nav a.register_btn {padding: 13px 20px; }


}


@media screen and (max-width: 375px){


}

@media screen and (max-width: 320px){
.main-header .navbar-nav a.register_btn {font-size: 13px; padding: 13px 16px; }
.h2_heading, .good_design_cont h2 {font-size: 34px; }
.main_heading {font-size: 34px; padding-bottom: 40px; }
.service_cont h2 {font-size: 24px; margin: 30px 0 25px 0; }
.services_box {min-height: 400px; }
.cta_cont h2 {font-size: 24px; }
.person_img{width: 30%;}
.person_cont{width: 30%;}
.main_testimonials_sec:after {height: 540px; }


}



/****************************************
  IMPORTANT 
*****************************************/

.scroll_Top {position: fixed; right: 1%; bottom: 10px; background-color: #eb334f; opacity: 0; transition: all 0.4s ease-in-out 0s; border-radius: 6px; line-height: 1; }
.scroll_Top a {font-size: 18px; color: #fff; padding: 15px; display: inline-block; }






































