/* overriding all previous files - custom.css*/

:root {
    /* == premetives colors ==*/

    --accent1:#04FED1;
    --dark1:#162550;

}

.bg-menu-theme {background-color:  var(--dark1)!important;}
.bg-menu-theme .menu-item.active > .menu-link:not(.menu-toggle){ background: var(--accent1)!important; color: var(--dark1); }

/* toggle icon*/
.app-brand .layout-menu-toggle i{ color: var(--accent1); opacity: 0.5}

/* small icon when toggled*/
.layout-menu-collapsed:not(.layout-menu-hover):not(.layout-menu-expanded) .bg-menu-theme .menu-inner > .menu-item.active > .menu-link{color: var(--dark1);}

/*hover*/
.bg-menu-theme .menu-inner .menu-item.open > .menu-link:hover, .bg-menu-theme .menu-inner .menu-item:not(.active) .menu-link:hover {background-color: #0A0F0D!important;}

/*menu open bg*/
.bg-menu-theme .menu-inner > .menu-item.active {background-color: #263c55 !important;}


/* divider */
.menu-inner .divider{
    border-top: 1px solid #d4d8dd;
    width: 100%;
    margin: 10px 0px;
    opacity: 0.2;
}

/* menu item */
html:not(.layout-menu-collapsed) .bg-menu-theme .menu-inner > .menu-item.open:not(.active), 
.layout-menu-hover.layout-menu-collapsed .bg-menu-theme .menu-inner > .menu-item.open:not(.active){ background: #2e4258!important;}

/* general*/
.container-xxl .breadcrumb{ font-size: 14px; margin-bottom: 20px; padding-bottom: 4px; padding-top: 8px; opacity: 0.9}
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page{ padding-top: 0px!important;}

.content-wrapper{}
.content-wrapper {position: relative}
.content-wrapper .layout-menu-toggle{ position: absolute; left: 10px; top :14px;}

/* toggle for sidebar*/
.layout-page{}
.layout-page section.sb1{position: relative}
.layout-page section.sb1 header{ padding: 20px 10px 10px 60px}
.layout-page .layout-menu-toggle{ position: absolute; left: 10px;right: auto; top :14px;}

.layout-page section.sb1 header nav ol.breadcrumb{ padding-top: 3px; padding-bottom: 4px; margin-bottom: 16px;}
.layout-page section.sb1 header img.avatar{width: 32px;}

/*hdr1*/
.hdr1{ display: flex; justify-content: space-between; align-items: flex-end;}
.hdr1 .lhs{}
.hdr1 .rhs{}
.hdr1 .rhs .r1{ display: flex; column-gap: 12px; align-items: flex-end;}
.hdr1 .rhs .r1 .pagination{ margin-bottom: 0px;}

.bg-label-success.active{box-shadow: 0 -2px 0 #39da8a inset!important ;}
.bg-label-danger.active{box-shadow: 0 -2px 0 #ff5b5c inset!important ;}
.bg-label-info.active{box-shadow: 0 -2px 0 #00cfdd  inset!important ;}

/* table*/
.table-hover2{}
.table-hover2 tr td:hover{cursor: pointer}

/* offcanvas*/
.offcanvas-header{ background: #182535 !important; color: #fff;}
.offcanvas-header h5{color: #fff!important;}


/* app chat*/
 /*106 is the height of top bar*/
.app-chat{height: calc(100vh - 106px)!important;}

/* lhs*/
.app-chat .app-chat-sidebar-left{height: calc(100vh - 106px)!important;}
.app-chat .app-chat-contacts{height: calc(100vh - 86px)!important; }/* lhs*/
.app-chat .app-chat-contacts .sidebar-body{ height: calc(calc(100vh - 106px) - 4.5rem)!important}

/*rhs*/
.app-chat .app-chat-history{height: calc(100vh - 106px)!important; } /*rhs*/
.app-chat .app-chat-history .chat-history-wrapper{height: calc(100vh)!important; } /*rhs*/

.app-chat .app-chat-history .chat-history-body { height:calc(100vh - 16rem)!important; }


/* dropzone*/
.dz-message{ margin: 1.5rem!important; font-size:18px!important; line-height: 120%}


/* integration box*/
.card.integration-box{margin-bottom: 24px;}
.card.integration-box label.switch{ right: 20px}


/* ai-playground*/
.ai-playground{ border: 1px dotted  #6942E9;  padding: 20px; border-radius: 20px; }


/* data sources*/
.ds-box{}
.ds-box .timeline {margin-bottom: 0px;}
.ds-box .timeline .timeline-item .timeline-event{ padding: 20px 12px 12px 0px;}
.ds-box .timeline .timeline-item{ padding-left: 24px; font-size: 13px;}
.ds-box .timeline .timeline-item:not(:last-child) {padding-bottom: 0px; }
/*.ds-box .timeline .timeline-item:last-child .timeline-event{ padding-bottom: 0px; }*/


/* recent conversations*/
.rcon{}
.rcon .list-group .list-group-item small{ text-wrap:nowrap}
.rcon .list-group .list-group-item .list-content small{ text-wrap:unset}

/* repaint tagift tags*/
.tagify-email-list .tagify__tag{}
.tagify-email-list .tagify__tag:nth-child(1){background:#FFE4E0}
.tagify-email-list .tagify__tag:nth-child(2){background: #E0FFE5}
.tagify-email-list .tagify__tag:nth-child(3){background: #FFFCE0}
